@import '../_color';

// Links
a {
  color: currentColor;
  cursor: pointer;
  text-decoration: none;

  &:not(.no-link-style) {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(map_get($colors, text), 0.4);
    border-bottom-color: rgba(var(--chayns-color-rgb--text), 0.4);
  }

  &:hover,
  &:active,
  &:focus {
    opacity: 0.75;
  }
}
