@import '../_color';
@import '../_generic/mixins';

// Links
a {
  color: currentColor;
  cursor: pointer;
  text-decoration: none;

  &:not(.no-link-style) {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    @include chayns-color-opacity(border-bottom-color, 'text', 0.4);
  }

  &:hover,
  &:active,
  &:focus {
    opacity: 0.75;
  }
}
