@import '../_color';

// Links
a {
  color: currentColor;
  cursor: pointer;
  text-decoration: none;

  &:not(.no-link-style) {
    display: inline-block;
    border-bottom: solid 1px rgba(map_get($colors, text), 0.4);
    line-height: 1;
  }

  &:hover,
  &:active,
  &:focus {
    opacity: 0.75;
  }
}
