// Font styles
:root {
  font-family: $base-font-family;
  line-height: $base-line-height;

  @if ($dynamic-font-size==1) {
    @include dynamic-fontsize($base-font-size, 1);
  } @else {
    // IE
    font-size: $base-font-size;
    // Other browsers
    --font-size: #{$base-font-size}; //Needed in pagemaker
    --base-font-size: #{$base-font-size};
    font-size: var(--base-font-size, $base-font-size);
  }
}

.default-font-size {
  font-size: 15px * $font-factor;
  --font-size: #{15px * $font-factor}; //Needed in pagemaker
}

@for $size from 1px through 96px {
  .chayns__font-size--#{$size} {
    @if $dynamic-font-size==1 {
      @include dynamic-fontsize($size * $font-factor, 0, 1);
    } @else {
      font-size: #{$size * $font-factor} !important;
      --font-size: #{$size * $font-factor}; //Needed in pagemaker
    }
  }
}

// Main Styles
html {
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
}

// Base Style
p,
.paragraph {
  margin-bottom: 8px;
}

p:last-child {
  margin-bottom: 0;
}
