@import '../config';

// Font styles
:root {
  font-family: $base-font-family;
  line-height: $base-line-height;
  // IE
  font-size: $base-font-size;
  // Other browsers
  --base-font-size:  calc(#{$base-font-size} - 2px + (0.2 * var(--width) / 100));
  font-size: var(--base-font-size, $base-font-size);
}

.default-font-size{
  font-size: 15px * $font-factor;
}

// Main Styles
html {
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
}

// Base Style
p:not(:last-child),
.paragraph {
  margin-bottom: 8px;
}
