@import '../config';
@import '../_generic/dynamic-fontsize';

// Font styles
:root {
  font-family: $base-font-family;
  line-height: $base-line-height;

  @if ($dynamic-font-size==1) {
    @include dynamic-fontsize($base-font-size, 1);
  } @else {
    // IE
    font-size: $base-font-size;
    // Other browsers
    --base-font-size: #{$base-font-size};
    font-size: var(--base-font-size, $base-font-size);
  }
}

.default-font-size {
  font-size: 15px * $font-factor;
}

@for $size from 1px through 96px {
  .chayns__font-size--#{$size} {
    @if $dynamic-font-size==1 {
      @include dynamic-fontsize($size);
    } @else {
      font-size: #{$size};
    }
  }
}

// Main Styles
html {
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricPrecision;
}

// Base Style
p:not(:last-child),
.paragraph {
  margin-bottom: 8px;
}
