@mixin selection{
  color: #FFFFFF;
  @include chayns-color(background-color, 'depend-on-brightness')
}

::selection {
  @include selection;
}

::-moz-selection {
  @include selection;
}

.chayns--noSelection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
