@mixin selection{
  color: #FFFFFF;
  background-color: mix($color, #808080, 50%);
}

::selection {
  @include selection;
}

::-moz-selection {
  @include selection;
}

.chayns--noSelection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
