@import '../color';

::-moz-selection {
  color: $selection-color;
  background: $selection-background-color;
}

::selection {
  color: $selection-color;
  background: $selection-background-color;
}

.chayns--noSelection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
