.accordion {
  margin-top: 10px;
  border-bottom: 1px solid transparent;

  transition: border 200ms ease-in-out 150ms,
  background-color 100ms ease,
  margin-bottom 200ms linear,
  border-radius 200ms,
  box-shadow 200ms;

  will-change: border, background-color, margin-bottom;

  @if ($design__accordion==1) {
    border: none;
    border-radius: 20px;
    @include chayns-color(background-color, 'secondary-100');
  } @else if ($design__accordion==2) {
    border: none;
    background-color: transparent;
  }

  &:not(.accordion--wrapped) {
    @include chayns-color(border-bottom-color, 'headline');
  }

  @if ($design__accordion==0) {
    &:hover {
      @include chayns-color(background-color, 'secondary-100');
    }
  }
}

.accordion--disabled {
  opacity: 0.6;
}

.accordion--trigger {
  pointer-events: all !important;
  cursor: pointer !important;
}

.accordion__head.accordion__head__multiline {
  padding: 4px 0;
  transition: max-height 300ms;
  will-change: max-height;
  height: unset !important;
  min-height: 32px;
  max-height: 32px;
  align-self: flex-start;

  .accordion.accordion--open > & > .accordion__head__right {
    align-self: flex-start;
  }

  .accordion.accordion--open > & {
    min-height: 38px;
    max-height: 160px;
    overflow: hidden;

    & > .accordion__head__title {
      word-break: break-word;
      white-space: normal;
    }
  }

  .accordion.accordion--wrapped > & {
    min-height: 40px;
  }

}

.accordion__head,
.accordion__item {
  cursor: pointer;
  pointer-events: all;
  user-select: none;
  transition: height 300ms;
  will-change: height;
  display: flex;
  height: 32px;
  align-items: center;
  position: relative;
  background-color: transparent;

  .accordion__head__title {
    flex: 1;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
    transition: font-size 300ms, transform 300ms, font-weight 300ms;
    will-change: font-size, font-weight;
  }

  .accordion__head__icon {
    @include chayns-color(color, 'headline');
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: transform 250ms ease-in-out;

    i {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      &:before {
        vertical-align: middle;
      }
    }
    .accordion--fixed__head__icon {
      font-size: 12px;
      transform: rotate(90deg);
    }
  }

  .accordion__head__right {
    margin-right: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .right--search {
      position: absolute;
      right: 0;
      transition: opacity 0.25s ease;
      will-change: opacity;
    }

    &__search {
      // transition: transform 0.5s ease, opacity 0.5s ease, width 0.5s ease;
      transition: transform 200ms ease, opacity 200ms ease, width 200ms ease;
      will-change: transfrom, opacity, width;
      transform: translateX(150%);
      opacity: 0;

      &--active {
        transform: translateX(0);
        opacity: 1;
      }

      .input {
        line-height: 1;
      }
    }
  }
}

.accordion--fixed .accordion__head {
  cursor: default;
}

.accordion__body {
  overflow: hidden;
  position: relative;
  height: auto !important;
  max-height: 0;
  transition: position 300ms ease-in-out;
  will-change: position;
  @extend .animation__accordion--close;
}

.accordion__intro {
  padding: 0 9px 6px;
}

.accordion__content {
  padding: 0 9px 9px 10px;
}

// multiple items which look like wrapped accordion entries
.accordion__item {
  cursor: default;
  padding: 8px 9px;
  min-height: 38px;
  height: inherit;
  @if($design__accordion!=1){
    border-top-width: 1px;
    border-top-style: solid;
    @include chayns-color-opacity(border-top-color, 'headline', 0.5);
  }

  &:before {
    display: none;
  }
}

.accordion.accordion--wrapped .accordion__item {
  padding-left: 30px;
}

// if this accordion is in another accordion
.accordion--wrapped {
  margin: 0;
  @if($design__accordion!=1){
    border-top-width: 1px;
    border-top-style: solid;
    @include chayns-color-opacity(border-top-color, 'headline', 0.5);
  }

  & > .accordion__head {
    height: 40px;
  }

  & > .accordion__body {
    clear: both;
  }

  & .accordion__content {
    padding: 0 0 18px 17px;
    margin: 0 9px;
  }
}

.accordion.accordion--wrapped .accordion--wrapped {
  padding-left: 14px;
}

.accordion__body .accordion__content + .accordion__item,
.accordion__body .accordion__intro + .accordion__item,
.accordion__body > .accordion__content + * > .accordion__item,
.accordion__body > .accordion__intro + * > .accordion__item,
.accordion__body > .accordion__item:first-child,
.accordion__body > :first-child > .accordion__item:first-child,
.accordion__body > :empty:first-child + * > .accordion__item:first-child,
.accordion__body > .module-css:first-child + * > .accordion__item:first-child,
.accordion__body .accordion__content + .accordion--wrapped,
.accordion__body .accordion__intro + .accordion--wrapped,
.accordion__body > .accordion__content + * > .accordion--wrapped,
.accordion__body > .accordion__intro + * > .accordion--wrapped,
.accordion__body > .accordion--wrapped:first-child,
.accordion__body > :first-child > .accordion--wrapped:first-child,
.accordion__body > :empty:first-child + * > .accordion--wrapped:first-child,
.accordion__body > .module-css:first-child + * > .accordion--wrapped:first-child {
  border-top: none;
}

// state open
.accordion--open {
  &.accordion:not(.accordion--wrapped) {
    margin-bottom: 30px;
    @if ($design__accordion!=2) {
      @include chayns-color(background-color, 'secondary-100');
    }
    border-color: transparent;

    & > .accordion__head {
      height: 38px;

      .accordion__head__title {
        @if ($dynamic-font-size==1) {
          @include dynamic-fontsize($base-font-size * 1.3);
        } @else {
          font-size: 1.3rem;
        }
      }
    }
  }

  &.accordion.accordion--wrapped > .accordion__head > .accordion__head__title {
    font-weight: 700;
  }

  & > .accordion__head {
    .accordion__head__icon:not(.accordion__head__icon--no-rotate) {
      transform: rotate(90deg);
    }
  }

  & > .accordion__body {
    max-height: 9999px !important;
    @extend .animation__accordion--open;
  }
}

// accordion cannot be closed, no arrows, should be used with --open
.accordion--fixed {
  &.accordion:not(.accordion--open):hover {
    background-color: transparent;
  }

  & > .accordion__head {
    padding-left: 9px;

    &.accordion__head--no-padding {
      padding-left: 0;
    }

    &:hover {
      cursor: default;
    }

    &:before {
      display: none;
    }
  }
}

.accordion.accordion--flex {
  & > .accordion__head,
  & > .accordion__body > .accordion__item {
    display: flex;
    align-items: center;

    .__head__right {
      float: none;
      margin-left: auto;
    }

    .ellipsis {
      margin-right: 10px;
    }
  }
}

//animations
.animation__accordion--close {
  transition: max-height .5s cubic-bezier(0, 1, 0, 1) -.1s;
  will-change: max-height;
}

.animation__accordion--open {
  transition: max-height .5s cubic-bezier(0.5, 0, 1, 0) 0s;
  will-change: max-height;
}

// mobile hover rewrite
.chayns--mobile,
.chayns--app {
  .accordion:not(.accordion--open):hover {
    background-color: transparent;
  }
}

//firefox ellipsis work around
.chayns-browser--firefox {
  .accordion__head,
  .accordion__item {
    white-space: normal;
  }
}

.accordion__head__right {
  overflow: hidden;

  .right--background {
    &-appear, &-enter, &-exit {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: opacity 400ms ease;
      will-change: opacity;
    }

    &-enter, &-appear {
      right: 5px;
      opacity: 0;

      &-active {
        opacity: 1;
      }
    }

    &-exit {
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
      opacity: 1;

      &-active {
        opacity: 0;
      }
    }
  }

  .right--foreground {
    &-appear, &-enter, &-exit {
      transition: transform 400ms, opacity 400ms ease;
      will-change: opacity;
    }

    &-enter, &-appear {
      opacity: 0;
      transform: translateX(150%);

      &-active {
        transform: translateX(0);
        opacity: 1;
      }
    }

    &-exit {
      opacity: 1;
      transform: translateX(0%);

      &-active {
        opacity: 0;
        transform: translateX(150%);
      }
    }
  }
}
