@import "../../_color";
@import '../../_generic/mixins';

// @deprecated
.calendar {
  &__navigation {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    z-index: 1;
  }

  &__navigate {
    position: absolute;
    cursor: pointer;
    opacity: 0.8;

    &.right {
      right: 0;
    }
  }

  &__months {
    position: relative;
    display: flex;
    left: -50%;
    width: 200%;
    height: 100%;
    max-height: 180px;
  }
}

.cc__calendar {
  position: relative;

  &__navigation {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    z-index: 1;
    width: 100%;
    user-select: none;
  }

  &__navigate {
    cursor: pointer;
    opacity: 0.8;

    &.left, &.right {
      cursor: pointer;
    }

    &.middle {
      flex-grow: 1;
    }
  }

  &__months {
    &__wrapper {
      display: flex;
      width: 200%;
      transform: translateX(0%);

      &--animate {
        transition: transform .3s;
      }
    }
  }

  .day__item {
    position: relative;

    &:before {
      content: "";
      display: block;
      padding-top: 100%;
    }

    .day__item__content {
      position: absolute;

      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
    }
  }
}

.puffer {
  height: 190px;
}

.month {
  width: 25%;
  height: 100%;
  padding: 0 1rem;
  text-align: center;

  &__title {
    margin-bottom: 0.25rem;
    text-align: center;

    user-select: none;
  }

  &__table {
    display: table;
    border-spacing: 2px;
    width: 100%;
    table-layout: fixed;
  }
}

.day {
  &__row {
    display: table-row;
  }

  &__item, &__item--text {
    display: table-cell;
    height: 1rem;
    margin: 5em;
    flex-grow: 1;
    text-align: center;
    font-size: 90%;
    border: 0.1em solid transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  &-text {
    font-weight: bold;
  }

  &-out-month {
    opacity: 0.3;
  }
}

.right {
  &-enter {
    transform: translateX(100%);
  }

  &-enter-active {
    transform: translateX(0%);
    transition: transform 300ms ease-in-out;
  }

  &__shown {
    position: absolute;
    left: 50%;
  }

  &__hidden {
    position: absolute;
    left: 75%;
  }
}

.left {
  &-enter {
    transform: translateX(-100%);
  }

  &-enter-active {
    transform: translateX(0%);
    transition: transform 300ms ease-in-out;
  }

  &__hidden {
    position: absolute;
    left: 0;
  }

  &__shown {
    position: absolute;
    left: 25%;
  }
}

@media screen and (max-width: 450px) and (orientation: portrait) {
  .calendar__months {
    position: relative;
    display: flex;
    left: -100%;
    width: 400%;
    height: 100%;
  }

  .cc__calendar__months {
    display: block;
    left: 0;
    width: 100%;

    &__wrapper {
      width: 400%;
    }
  }
}

.is-active {
  opacity: 0.8;
  cursor: pointer;
}

.is-marked {
  opacity: 0.7;
}

.is-marked-is-highlighted {
  background-color: #228b22;
  border: 0.1em solid #fff;
  color: #fff;
}

.is-selected {
  opacity: 1;
  font-weight: bolder;
}

.is-deactive {
  opacity: 0.6;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cc__calendar {
  .is-marked-is-highlighted {
    border: none;
    @include chayns-color(background-color, '203');
    @include chayns-color(color, 'headline');
  }

  .is-selected {
    @include chayns-color(background-color, '104');
    @include chayns-color(color, 'headline');
  }
}
