@import '../../_color';

// @deprecated

$contextmenu-border: 1px solid $contextmenu-border-color;

.context-menu {
  position: absolute;
  background-color: $contextmenu-background-color;
  z-index: 900;
  opacity: 0;
  transition: opacity 0.35s ease-in-out;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, .3);
  border: $contextmenu-border;
  color: $contextmenu-color;

  &:after {
    content: "";
    width: 14px;
    height: 14px;
    position: absolute;
    background-color: $contextmenu-background-color;
    box-shadow: -2px -2px 5px rgba(0, 0, 0, .05);
    border-top: $contextmenu-border;
    border-left: $contextmenu-border;
    z-index: -1;
  }

  &__children {
    .ts-ellipsis_v {
      text-align: center;
      font-size: 18px;
      cursor: pointer;
      color: map_get($colors, 'headline');
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__item {
    padding: 5px 8px 5px 5px;
    cursor: pointer;
    display: flex;

    &:hover {
      background-color: $contextmenu-hover-background-color;
    }

    &__icon {
      width: 20px;
      margin: 0 8px 0 3px;
      text-align: center;
      flex: 0 0 auto;
      color: $contextmenu-icon-color;
    }

    &__text {
      white-space: nowrap;
    }
  }

  &--active {
    opacity: 1;
  }

  &--position0 {
    transform: translate(calc(-100% + 22px), calc(-100% - 9px));

    &:after {
      bottom: -8px;
      right: 14px;
      transform: rotate(225deg);
    }
  }

  &--position1 {
    transform: translate(calc(-100% + 22px), 11px);

    &:after {
      top: -8px;
      right: 14px;
      transform: rotate(45deg);
    }
  }

  &--position2 {
    transform: translate(-21px, 11px);

    &:after {
      top: -8px;
      left: 14px;
      transform: rotate(45deg);
    }
  }

  &--position3 {
    transform: translate(-21px, calc(-100% - 9px));

    &:after {
      bottom: -8px;
      left: 14px;
      transform: rotate(225deg);
    }
  }

  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 899;
    transition: transform 0.35s ease-in-out;
    transform: translateY(20px);

    &--active {
      transform: translateY(0);
    }

    &--hide {
      display: none;
    }
  }
}

.cc__bubble__overlay {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.image-tool {
  height: 32px;
  width: 32px;
  background-color: $image-tool-background-color;
  color: $image-tool-color !important;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;

  i {
    color: $image-tool-color !important;
  }
}
