@import '../../_color';

.cc__file-input {
  opacity: 0.6;
  border-radius: 4px;
  border: 2px dashed $file-input-color;
  color:  $file-input-color;

  &--custom {
    display: flex;
    position: relative;
  }

  &--disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  &--placeholder {
    display: flex;
    height: 60px;
    padding: 10px;
    line-height: 1.5;

    user-select: none;
    position: relative;
    cursor: pointer;

    transition: all .2s;
    justify-content: center;
  }

  &--hover {
    .cc__file-input__icon {
      animation: cc__file-input--bounce 1s infinite;
    }
  }

  &__icon {
    margin-right: 10px;
  }

  &__input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  &__message {
  }

  &__icon, &__message {
    align-self: center;
    justify-self: center;
  }

  &:hover, &--hover {
    opacity: 1;
    .cc__file-input__split:not(:hover){
      opacity: 0.6;
    }
  }

  &__split {
    flex: 1;

    &--disabled {
      opacity: 0.5;
      pointer-events: none;
      cursor: default;
    }
  }

  &__separator {
    height: 30px;
    width: 1px;
    background-color: $file-input-color;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

@keyframes cc__file-input--bounce {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -3px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
