@import '../../_color';
@import '../../_generic/mixins';

$file-input-color: 'headline';
$file-input-border-color: '005';
$file-input-border-hover-color: 'headline';

.cc__file-input {
  border-width: 1px;
  border-style: dashed;
  @include chayns-color(border-color, $file-input-border-color);
  @include chayns-color(color, $file-input-color);
  overflow: hidden;
  transition: border .1s;

  &--custom {
    display: flex;
    position: relative;
    align-items: center;
  }

  &--disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  &--placeholder {
    display: flex;
    height: 60px;
    padding: 10px;
    line-height: 1.5;

    user-select: none;
    position: relative;
    cursor: pointer;

    transition: all .1s;
    justify-content: center;
  }

  &--hover {
    height: 70px;
    background-color: rgba(map_get($colors, 'primary'), 0.1);
    background-color: rgba(var(--chayns-color-rgb--primary), 0.1);

    .cc__file-input__icon {
    }
  }

  &__icon {
    margin-right: 10px;
  }

  &__input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    top: 0;
    left: 0;
  }

  &__message {
  }

  &__icon, &__message {
    align-self: center;
    justify-self: center;
  }

  &:hover, &--hover {
    border-width: 1px;
    border-style: dashed;
    @include chayns-color(border-color, $file-input-border-hover-color);

    .cc__file-input__split {
      &:not(:last-child) {
        border-right-width: 1px;
        border-right-style: dashed;
        @include chayns-color(border-right-color, $file-input-border-hover-color);
      }

      &:not(:hover) {
        .cc__file-input--placeholder {
          opacity: 0.4;
        }
      }
    }
  }

  &__split {
    flex: 1;

    &--disabled {
      opacity: 0.5;
      pointer-events: none;
      cursor: default;
    }

    &:not(:last-child) {
      border-right-width: 1px;
      border-right-style: dashed;
      @include chayns-color(border-right-color, $file-input-border-color);
    }
  }
}
