@import '../../_color';
@import '../../_config';

// @deprecated
.react-chayns-icon {
  font-size: round($base-font-size);
  color: map_get($colors, headline);

  &--clickable {
    cursor: pointer;
  }

  &--disabled {
    pointer-events: none;
    opacity: .4;
  }
}

.chayns__icon {
  color: map_get($colors, headline);
  font-size: round($base-font-size);
}
