@import '../../_color';
@import '../../_config';
@import '../../_generic/mixins';

// @deprecated
.react-chayns-icon {
  font-size: round($base-font-size);
  @include chayns-color(color, 'headline');

  .button & {
    font-size: inherit;
    color: inherit;
  }

  &--clickable {
    cursor: pointer;
  }

  &--disabled {
    pointer-events: none;
    opacity: .4;
  }
}

.chayns__icon {
  @include chayns-color(color, 'headline');
  font-size: round($base-font-size);

  .button & {
    font-size: inherit;
    color: inherit;
  }
}
