@import '../../_color';
@import '../../_generic/mixins';

// @deprecated
.cc__image-accordion {
    .image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 70%;
        box-sizing: content-box;
        margin: 0 auto;
        transition: max-height 1.2s cubic-bezier(0.5, 0, 1, 0) 0s, background-color 0.7s ease;
        &::after {
            content: "";
            display: block;
            padding-top: 100%;
        }
    }

    .no-image {
        @include chayns-color(background-color, 'secondary-102');
    }

    .image-accordion-container {
        flex-wrap: wrap;
        display: flex;
        .arrow {
            content: '';
            display: block;
            width: 10px;
            border: 12px solid transparent;
            @include chayns-color(border-bottom-color, 'secondary-100');
        }
        .no-arrow {
            display: none;
        }
        &.open {
            & >.image-accordion-body {
                max-height: 9999px;
                transition: max-height 1.2s cubic-bezier(.5,0,1,0) 0s,background-color .7s ease;
            }
        }
        & .image-accordion {
            cursor: pointer;
            padding-top: 10px;
            & .wrapper:hover {
                @include chayns-color(background-color, 'secondary-100');
            }
        }
        >.image-accordion-body {
            margin-top: -10px;
            flex: 0 0 100%;
            margin-bottom: 10px;
            max-width: 100%;
            max-height: 0;
            overflow: hidden;
            transition: max-height .5s cubic-bezier(0,1,0,1) 0s,background-color .7s ease;
            & .image-accordion-content {
                width: 100%;
                float: left;
                max-height: 0;
                overflow: hidden;
                &.show {
                    padding: 10px 9px 9px 10px;
                    max-height: 9999px;
                    @include chayns-color(background-color, 'secondary-100');
                }
            }
        }
    }

    .wrapper {
        padding-top: 10px;
        position: relative;
        width: 100%;
        overflow: hidden;
        text-align: center;
        cursor: pointer;
        opacity: 1;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }

    .name {
        margin-bottom: -5px
    }

    .headline {
        border-bottom: 0;
        margin-bottom: 0;
        min-height: 24px;
    }

    .subheadline {
        margin: 0;
        opacity: 0.6;
        padding-top: 3px;
    }

    .disabled {
        filter: opacity(0.55);
    }

    .icon {
        position: absolute;
        z-index: 10;
        -webkit-transition: top .3s ease-in-out;
        -o-transition: top .3s ease-in-out;
        transition: top .3s ease-in-out;
        will-change: top;
    }
}

// if the image accordion is in an accordion
.accordion {
    .cc__image-accordion {
        .no-image {
            @include chayns-color(background-color, 'secondary-103');
        }
        .image-accordion-container {
            .arrow {
                @include chayns-color(border-bottom-color, 'secondary-101');
            }
            & .image-accordion {
                & .wrapper:hover {
                    @include chayns-color(background-color, 'secondary-101');
                }
            }
            >.image-accordion-body {
                & .image-accordion-content {
                    &.show {
                        @include chayns-color(background-color, 'secondary-101');
                    }
                }
            }
        }
    }
}
