@import '../../_color';

// @deprecated
.cc__list {
  .list-item {
    border-bottom: 1px solid transparent;
    border-bottom-color: $accordion-border-bottom-color;

    &:last-child{
      border-bottom: none;
    }

    .accordion &, .list-item & {
      border-bottom-color: $accordion-item-border-bottom-color;
    }

    &--clickable:hover, &--expanded {
      background-color: $accordion-hover-background-color;
    }

    &--clickable > .list-item__header {
      cursor: pointer;
    }

    &__header {
      display: flex;
      flex-direction: row;
      height: 64px;
      padding: 12px 9px;
    }

    &__image {
      width: 40px;
      height: 40px;

      background-size: cover;
      background-position: center;

      outline: 1px solid rgba(0, 0, 0, .08);

      margin-right: 10px;

      flex-shrink: 0;
    }

    &__icon {
      width: 40px;
      height: 40px;

      margin-right: 10px;

      flex-shrink: 0;

      line-height: 30px;
      font-size: 22px;

      padding: 10px;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__titles {
      display: flex;
      flex-direction: column;
      min-width: 0;
      justify-content: center;
      line-height: normal;
    }

    &__subtitle {
      font-size: 85%;
      opacity: 0.75;
    }

    &__spacer {
      flex-grow: 1;
    }

    &__right {
      min-width: 0;
      flex-shrink: 0;
      align-self: center;
    }

    &__indicator {
      flex-shrink: 0;

      width: 20px;
      height: 26px;

      line-height: 26px;

      padding-right: 5px;
      padding-left: -5px;

      align-self: center;

      .icon-wrapper {
        margin-left: -6px;

        transition: transform .3s;

        .ts-icon {
          color: $accordion-arrow-color;
          font-size: 20px;
        }
      }
    }

    &__content {
      padding: 9px 18px 9px 29px;
    }

    &--expanded > .list-item__header {
      .list-item__titles {
        font-weight: bolder;
      }

      .list-item__indicator {
        .icon-wrapper {
          transform: rotate(90deg);
        }
      }
    }
  }
}
