.cc__list {
  .list-item {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    @include chayns-color-opacity(border-bottom-color, 'headline', 0.45);

    &:last-child {
      border-bottom: none;
    }

    .accordion &, .list-item & {
      @include chayns-color-opacity(border-bottom-color, 'headline', 0.45);
    }

    &--clickable:hover, &--expanded {
      @include chayns-color(background-color, 'secondary-100');
    }

    &--clickable > .list-item__header {
      cursor: pointer;
    }

    &__header {
      display: flex;
      flex-direction: row;
      align-items: center;
      min-height: 64px;
      padding: 12px 9px;
    }

    &__image {
      width: 40px;
      height: 40px;

      background-size: cover;
      background-position: center;
      @include chayns-color(background-color, 'secondary-102');

      margin-right: 10px;

      flex-shrink: 0;

      &--circle {
        border-radius: 100px;
        outline: none;
        @include chayns-color(background-color, 'secondary-102');
      }
    }

    &__images {
      position: relative;
      width: 40px;
      height: 40px;
      overflow: hidden;
      margin-right: 10px;
      flex-shrink: 0;

      .list-item__image {
        position: absolute;
        margin: 0;

        &:first-of-type {
          width: 60%;
          height: 100%;
          left: 0;
          top: 0;
          border-right: 1px solid white;

          &:last-of-type {
            width: 100%;
            border-right: none;
          }

          &:nth-last-of-type(2) {
            width: 50%;
          }
        }

        &:nth-of-type(2) {
          width: 40%;
          height: 50%;
          right: 0;
          top: 0;
          border-bottom: 1px solid white;

          &:last-of-type {
            width: 50%;
            height: 100%;
            border-bottom: none;
          }
        }

        &:nth-of-type(3) {
          width: 40%;
          height: 50%;
          right: 0;
          bottom: 0;
        }
      }
    }

    &__icon {
      width: 40px;
      height: 40px;

      margin-right: 10px;

      flex-shrink: 0;

      line-height: 30px;
      font-size: 22px;

      padding: 10px;

      display: flex;
      align-items: center;
      justify-content: center;

      &--circle {
        border-radius: 100px;
      }
    }

    &__titles {
      display: flex;
      flex-direction: column;
      min-width: 0;
      justify-content: center;
      line-height: normal;
      width: 100%;
    }

    &__title {
      &-wrapper {
        display: flex;
        justify-content: space-between;
      }
    }

    &__subtitle {
      margin-top: 2px;
      font-size: 85%;
      opacity: 0.75;

      &-wrapper {
        display: flex;
        justify-content: space-between;
      }
    }

    &__spacer {
      flex-grow: 1;
    }

    &__right {
      min-width: 0;
      flex-shrink: 0;
      align-self: center;
      font-size: 85%;
      margin-left: 5px;

      &--column {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-size: 85%;
        justify-content: flex-start;
        align-self: stretch;

        &__text {
          opacity: 0.75;
        }
      }
    }

    &__hover-item {
      max-width: 0;
      opacity: 0;
      transition: opacity 0.2s ease, max-width 0.3s ease-out;
      display: flex;

      &:focus {
        max-width: 100px;
        opacity: 1;
      }

      &::before {
        content: " ";
        width: 5px;
      }
    }

    &:hover {
      .list-item__hover-item {
        max-width: 100px;
        opacity: 1;
      }
    }

    &__indicator {
      flex-shrink: 0;

      width: 20px;
      height: 26px;

      margin: 0 2px 0 4px;

      line-height: 26px;

      padding-right: 5px;

      align-self: center;

      .icon-wrapper {
        margin-left: -6px;

        transition: transform .3s;

        .ts-icon {
          @include chayns-color(color, 'headline');
          font-size: 20px;
        }
      }
    }

    &__content {
      padding: 9px 18px 9px 35px;
    }

    &--expanded > .list-item__header {
      .list-item__titles {
        font-weight: bolder;
      }

      .list-item__indicator {
        .icon-wrapper {
          transform: rotate(90deg);
        }
      }
    }
  }
}
