// @deprecated
.cc__opening-times{
    .flex {
        flex-flow: row wrap;
        display: flex;
        .flex__left {
            flex: 1;
            padding: 3px 0 0;
        }
        .flex__right {
            text-align: right;
            max-width: 200px;
            .inline__block {
                display: inline-block;
            }
        }
        .flex__middle {
            flex-grow: 1;

            &--wrapper {
                white-space: nowrap;
                display: flex;
                flex-grow: 1;
            }
        }
    }

    .time__span {
        width: 170px;
        max-height: 29px;
        display: flex;
        transition-duration: 1500ms;
        span {
            width: 30px;
            text-align: center;
        }
        &--input {
            float: right;
            width: 100px;
            text-align: center;
            input {
                text-align: center;
                width: 100%;
            }
        }
        &--button {
            min-width: 25px;
        }
        .add {
            transform: rotate(0deg);
        }
        .remove {
            transform: rotate(45deg);
        }
    }

    .times {
        &.multiple {
            margin: 15px 0;
        }
        &--disabled {
            .flex__right {
                opacity: .2;
                pointer-events: none;
            }
        }
        transition: all .2s;
        .flex__right {
            span {
                float: right;
                width: 30px;
                text-align: center;
            }
            .choosebutton {
                float: right;
                width: 20px;
                height: 20px;
                padding: 1.5px 0 0 1px;
                font-size: 11px;
                margin: 4px 0 0;
            }
        }
    }

    &__hint {
        &--top {
            margin-bottom: 15px;
        }

        &--bottom {
            margin-top: 15px;
        }
    }

    @media screen and(max-width: 340px) {
        .flex__right .time .time__input {
            width: 55px;
        }
    }
    .openingTimesIcon {
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
    }
    .choosebutton {
        min-height: 1px;
    }
}

.cc__opening_times {
    .flex {
        .flex__middle--wrapper {
            flex-grow: 1;
            align-items: flex-end;
            flex-direction: column;
            display: flex;

            .flex__middle__wrapper {
                white-space: nowrap;
                display: flex;
                flex-grow: 1;
            }
        }
    }
}

