@import '../../_color';

// @deprecated
$image-size: 50px;
$image-size-small: 40px;

$person-finder-result-background-color: map_get($colors, '101');
$person-finder-result-background-2-color: map_get($colors, '102');
$person-finder-result-border-color: map_get($colors, '104');
$person-finder-result-hover-background-color: map_get($colors, '103');
$person-finder-subtitle-color: map_get($colors, 'text');

.cc__person-finder {
  &__overlay {
    background-color: $person-finder-result-background-color;
    border: 1px solid $person-finder-result-border-color;
  }

  .cc__input-box {
    display: block !important;

    input {
      display: block;
    }
  }

  &__overlay {
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: #6e6e6e;
    }
  }

  &__results {
    .divider {
      padding: 3px 10px 3px 8px;
    }

    > div.cc__person-finder__results-list > :nth-child(2n) {
      background-color: $person-finder-result-background-2-color;
    }

    .load-more, .divider {
      background-color: $person-finder-result-background-color !important;
    }

    .result-item {
      display: flex;
      flex-direction: row;
      width: 100%;
      cursor: pointer;
      padding: 8px 10px 5px 8px;
      transition: background-color 0.2s linear;

      &:hover {
        background-color: $person-finder-result-hover-background-color !important;
      }

      .img {
        background-position: center;
        background-size: cover;

        width: $image-size;
        height: $image-size;

        flex-shrink: 0;

        text-align: center;
        vertical-align: middle;
      }

      .text {
        display: flex;
        flex-direction: column;

        min-width: 0;

        padding-left: 10px;
        line-height: 1.2;
        vertical-align: text-top;
        flex-basis: 100%;

        .title {
          display: flex;
          flex-direction: row;

          .identifier {
            align-self: center;
          }
        }

        .name{
          padding-right: 7px;
        }

        .identifier {
          font-size: 75%;
          color: $person-finder-subtitle-color;
          opacity: 0.6;
        }
      }
      .relation{
        font-size: 75%;
        color: $person-finder-subtitle-color;
        opacity: 0.6;
        line-height: 1.5;
        padding-top: 4px;
      }

      .placeholder {
        padding: 4px 8px;
      }
    }
  }
}
