@import '../../_color';
@import '../../_generic/mixins';

// @deprecated
$image-size: 50px;
$image-size-small: 40px;

.cc__person-finder {
  &__results-list--noTransition {
    .result-item {
      transition: none !important;
    }
  }

  &__overlay {
    @include chayns-color(background-color, 'secondary-101');
    @include chayns-color(border-color, 'secondary-104');
    border-width: 1px;
    border-style: solid;
  }

  .cc__input-box {
    display: block !important;

    input {
      display: block;
    }
  }

  &__overlay {
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: #6e6e6e;
    }
  }

  &__results {
    .divider {
      padding: 3px 10px 3px 8px;
    }

    &:not(.no-background) > div.cc__person-finder__results-list > :nth-child(2n) {
      @include chayns-color(background-color, 'secondary-102');
    }

    .load-more, .divider {
      @include chayns-color-important(background-color, 'secondary-101');
    }

    .result-item {
      display: flex;
      flex-direction: row;
      width: 100%;
      cursor: pointer;
      padding: 8px 10px 5px 8px;
      transition: background-color 0.2s linear;
      box-sizing: border-box;

      &--focused, &:hover, &:focus {
        @include chayns-color-important(background-color, 'secondary-103');
      }

      .img {
        background-position: center;
        background-size: cover;

        width: $image-size;
        height: $image-size;

        flex-shrink: 0;

        text-align: center;
        vertical-align: middle;

        &.circle {
          border-radius: 50%;
        }
      }

      .text {
        display: flex;
        flex-direction: column;

        min-width: 0;

        padding-left: 10px;
        line-height: 1.2;
        vertical-align: text-top;
        flex-basis: 100%;

        .title {
          display: flex;
          flex-direction: row;

          .identifier {
            align-self: center;
          }
        }

        .name {
          padding-right: 7px;
        }

        .identifier {
          font-size: 75%;
          @include chayns-color(color, 'text');
          opacity: 0.6;
        }
      }

      .relation {
        font-size: 75%;
        @include chayns-color(color, 'text');
        opacity: 0.6;
        line-height: 1.5;
        padding-top: 4px;
      }

      .placeholder {
        padding: 4px 8px;
      }

      .friends {
        display: flex;
        align-items: center;
        margin-top: -2px;
      }
    }

    &--friends {
      .result-item {
        .img {
          width: $image-size-small;
          height: $image-size-small;
        }
      }
    }
  }
}
