@import '../../_color';

// @deprecated
// ReceiverInput Component
.receiver-input-box {
    .receiver-input {
        border-bottom: 1px solid $input-border-color;
        padding-bottom: 2px;
        width: 100%;

        &--pure {
            border: none !important;
            padding: 0 !important;
        }

        .input-box {
            overflow: hidden;
            min-width: 200px;
            padding-bottom: 2px;

            &.hide {
                height: 0 !important;
            }
        }

        input {
            transition: opacity .3s ease;
            display: inline-block;
            border: none;
            width: 100%;

            &[disabled] {
                opacity: 0.5;
            }
        }
    }

    .group-name-input {
        transition: all .3s ease;
        padding-top: 4px;
        max-height: 40px;
        opacity: 1;

        &.hide {
            padding-top: 0 !important;
            max-height: 0 !important;
            opacity: 0 !important;
        }

        input {
            transition: opacity .3s ease;
            width: 100%;

            &[disabled] {
                opacity: 0.5;
            }
        }
    }
}

// ReceiverSearchPopup Component
.receiver-popup {
    box-shadow: 0 5px 15px 0 $receiver-popup-box-shadow-color;
    background-color: $receiver-popup-background-color;
    border: 1px solid $receiver-popup-border-color;
    position: absolute !important;
    margin-bottom: 0 !important;
    color: $base-text-color;
    padding: 0 !important;
    max-height: 250px;
    max-width: 650px;
    overflow-y: auto;
    z-index: 99999;

    &.hide {
        display: none !important;
    }

    .group-headline {
        padding: 2px 10px;
    }

    .group-headline {
        background-color: $receiver-popup-group-headline-background-color !important;
    }

    .error-message {
        background-color: $receiver-popup-item-odd !important;
        padding: 2px 10px;
        font-size: 85%;
    }
}

// Receiver component
.receiver-wrapper {
    transition: background-color .3s ease;
    height: 38px;

    &:nth-child(odd) {
        background-color: $receiver-popup-item-odd;
    }

    &:nth-child(even) {
        background-color: $receiver-popup-item-even;
    }

    &:hover {
        background-color: $receiver-popup-item-hover !important;
    }

    .receiver {
        transition: background-color .3s ease;
        cursor: pointer;
        padding: 4px;

        .pic {
            vertical-align: middle;
            display: inline-block;
            margin-right: 10px;
            height: 30px;
            width: 30px;

            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }

            .multi-image {
                height: 100%;
                width: 100%;

                .full-left {
                    border-right: 2px solid $receiver-popup-image-border;
                    background-position: center;
                    background-size: cover;
                    height: 100%;
                    float: left;
                    width: 60%;
                }

                .half-left {
                    border-right: 2px solid $receiver-popup-image-border;
                    background-position: center;
                    background-size: cover;
                    height: 100%;
                    float: left;
                    width: 50%;
                }

                .half-right {
                    background-position: center;
                    background-size: cover;
                    height: 100%;
                    float: right;
                    width: 50%;
                }

                .right-wrapper {
                    height: 100%;
                    float: right;
                    width: 40%;

                    .top-right {
                        border-bottom: 2px solid $receiver-popup-image-border;
                        background-position: center;
                        background-size: cover;
                        height: 50%;
                        width: 100%;
                    }

                    .bottom-right {
                        background-position: center;
                        background-size: cover;
                        height: 50%;
                        width: 100%;
                    }
                }
            }
        }

        .receiver-name {
            vertical-align: middle;
            display: inline-block;
        }
    }
}

// ChosenMember component
.chosen-member {
    border-color: transparent;
    border-width: 2px 0;
    border-style: solid;
    margin-right: 5px;
    float: left;

    &__content {
        background-color: $receiver-popup-chosen-member-background-color;
        padding: 0 8px;

        i {
            margin-left: 5px;
        }
    }
}
