@import '../../_color';

// @deprecated, can be removed in next minor version
.wizardHead {
  cursor: default;
  width: 100%;
  &.pointer{
    cursor: pointer !important;
  }
  .number {
    font-size: 12px;
    opacity: 1;
    width: 18px;
    height: 18px;
    text-align: center;
    transition: all .3s ease-in-out;
    transform: rotate(0) translate3d(0, -2px, 0);
    display: inline-block;
    margin: 0 8px 0 2px;
  }
  .wizard_step--notReady{
    background-color: $wizard-step-notReady-background-color;
    color: $wizard-step-notReady-color;
  }
  .wizard_step--ready{
    background-color: $wizard-step-ready-background-color;
    color: $wizard-step-ready-color;
  }
  .title {
    display: inline-block;
  }
}
