// @deprecated: this styles have been moved to chayns components, remove it here in next minor version
.cc__slider {
  width: 100%;
  display: flex;
  user-select: none;

  &--vertical {
    width: 30px;
    height: 300px;
    display: inline-block;

    .cc__slider {
      &__label {
        flex-direction: row;
      }

      &__bar {
        margin: 11px 0;
        width: 30px;
        height: 100%;
        flex-direction: row;

        &__track {
          left: 50%;
          transform: translate(-50%, -50%);
          width: 10px;
          height: 100%;

          &__inner {
            bottom: 0;
            width: 100%;
          }
        }

        &__thumb {
          left: 50%;
          transform: translate(-50%, -15px);
        }
      }
    }
  }

  &--disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &__label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 85%;
  }

  &__bar {
    flex: 1;
    margin: 0 11px;
    position: relative;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__track {
      top: 50%;
      position: absolute;
      overflow: hidden;
      border-radius: 20px;
      height: 10px;
      width: 100%;
      transform: translateY(-50%);
      background-color: $slider-track-background-color;
      cursor: pointer;

      &__inner {
        height: 100%;
        position: absolute;
        background-color: $slider-range-background-color;
      }
    }

    &__thumb {
      position: absolute;
      top: 50%;
      width: 30px;
      height: 30px;
      padding: 5px;
      transform: translate(-15px, -50%);
      cursor: pointer;

      &__dot {
        content: " ";
        background-color: $slider-dot-background-color;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.35);
        pointer-events: none;
      }
    }
  }
}
