$tag-height: 24px;

.cc__tag-input {
  display: flex;
  flex-wrap: wrap;
  -webkit-user-modify: read-only;
  -webkit-appearance: none;
  align-items: baseline;

  &#{&}--border-design {
    border: 1px solid rgba(160,160,160,0.3);
    @include chayns-color(background-color, $input-border-design-background-color-name);
    padding: 5px 10px;
    display: flex;
    align-items: center;
    position: relative;
    min-height: 42px;
    border-radius: 3px;

    .cc__tag {
      margin: 3px 5px 3px 0;
    }

    .cc__tag-input__input {
      margin: 0;
      height: 30px;

      .input::-webkit-input-placeholder {
        @include chayns-color(color, '006');
      }
    }
  }

  .cc__tag-input__input {
    margin: 5px 0 0;
    height: $tag-height;
    flex-grow: 1;
    overflow: hidden;
  }

  .cc__tag-input__input input {
    border: none;
  }
}

.cc__tag {
  display: flex;
  align-items: center;
  @include chayns-color(background-color, '203');
  padding-left: 10px;
  margin: 5px 5px 0 0;
  user-select: none;
  transition: background-color 300ms;
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  position: relative;
  border-radius: 100px;
  overflow: hidden;

  &--selected {
    @include chayns-color(background-color, '206');
  }

  .icon {
    @include chayns-color(color, 'text');
    padding: 4px 10px;
    opacity: 0.4;
    font-size: 14px;
    display: inline-block;

    &:hover {
      opacity: 0.8;
    }
  }

  &__children {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
  }
}
