@import '../../_color';
@import '../../_config';
@import '../../_generic/mixins';

.checkbox {
  display: none;

  & + label {
    user-select: none;

    position: relative;
    display: inline-block;
    cursor: pointer;
    padding-left: 20px;

    line-height: calc(15px * #{$base-line-height});
    min-height: calc(15px * #{$base-line-height});
    vertical-align: middle;

    &:before,
    &:after {
      position: absolute;
      left: 0;
      content: '';
      width: 15px;
      height: 15px;
      z-index: 1;
    }

    &:before {
      @if ($design__checkbox == 0) {
        @include chayns-color(background-color, '403');
        @include chayns-color-opacity(border-color, '409', 0.5);
        transition: box-shadow 100ms ease-in-out, background-color 50ms 50ms cubic-bezier(1, 0, 0, 1);
        will-change: background-color;
      } @else if ($design__checkbox==1) {
        @include chayns-color(background-color, '000');
        @include chayns-color-opacity(border-color, '409', 0.7);
      } @else if ($design__checkbox==2) {
        @include chayns-color-opacity(border-color, '409', 0.5);
      }
      top: 5px;
      z-index: 0;
      border-width: 1px;
      border-style: solid;
    }
  }

  &:disabled + label {
    opacity: 0.5;
    cursor: default;
  }

  @if ($design__checkbox!=0) {
    &:not(:disabled) + label:hover:before, &:checked + label:before {
      @include chayns-color(border-color, 'secondary-309');
    }
  }

  &:not(:disabled):not(:checked) + label:hover:after {
    @if ($design__checkbox==0) {
      transform-origin: 100% 100%;
      top: 7px;
      left: 1px;
      width: 5.5px;
      height: 10px;
      border-right: 2px solid #fff;
      border-bottom: 2px solid #fff;
      transform: rotateZ(37deg);
      opacity: 0.5;
    }
  }

  &:checked + label:after {
    @if ($design__checkbox==0) {
      transform-origin: 100% 100%;
      top: 7px;
      left: 1px;
      width: 5.5px;
      height: 10px;
      border-right: 2px solid #fff;
      border-bottom: 2px solid #fff;
      transform: rotateZ(37deg);
    } @else if ($design__checkbox==1) {
      @keyframes checkbox {
        0% {
          height: 0;
          width: 0;
        }
        32% {
          width: 0px;
          height: 7.5px;
        }
        100% {
          width: 16px;
          height: 7.5px;
        }
      }
      transform-origin: top left;
      border: 0;
      animation: checkbox 0.5s ease;
      top: 12px;
      left: 3px;
      width: 16px;
      height: 7.5px;
      border-bottom: 2px solid var(--chayns-color--secondary-309);
      border-left: 2px solid var(--chayns-color--secondary-309);
      transform: rotateZ(-45deg);
    } @else if ($design__checkbox==2) {
      transform-origin: top left;
      border: 0;
      animation: checkbox 1s ease;
      top: 13px;
      left: 3px;
      width: 10px;
      height: 5px;
      border-bottom: 1px solid var(--chayns-color--secondary-309);
      border-left: 1px solid var(--chayns-color--secondary-309);
      transform: rotateZ(-50deg);
    }
  }

  @if ($design__checkbox==0) {
    &:checked:not(:disabled) + label {
      &:before {
        box-shadow: inset 0 0 0 10px map_get($colors, '408');
        box-shadow: inset 0 0 0 10px var(--chayns-color--408);
        @include chayns-color(background-color, '408');
      }
    }
  }
}

.cc__checkbox, .cc__switch {
  display: inline-block;
}

html.chayns--app,
html.chayns--tablet,
html.chayns--mobile {
  .checkbox:not(:disabled):not(:checked) + label:hover:after {
    opacity: 0;
  }
}
