@import '../../_color';
@import '../../_config';

.checkbox {
  display: none;

  & + label {
    user-select: none;

    position: relative;
    display: inline-block;
    cursor: pointer;
    padding-left: 20px;

    line-height: calc(15px * #{$base-line-height});
    min-height: calc(15px * #{$base-line-height});
    vertical-align: middle;

    &:before,
    &:after {
      position: absolute;
      left: 0;
      content: '';
      width: 15px;
      height: 15px;
      z-index: 1;
    }

    &:before {
      transition: box-shadow 100ms ease-in-out, background-color 50ms 50ms cubic-bezier(1,0,0,1);
      background-color: $checkbox-background-color;
      top: 5px;
      z-index: 0;
      border: 1px solid $checkbox-checked-background-color;
      will-change: background-color;
    }
  }

  &:disabled + label {
    opacity: 0.5;
    cursor: default;
  }

  &:not(:disabled):not(:checked) + label:hover:after {
    transform-origin: 100% 100%;
    top: 7px;
    left: 1px;
    width: 5.5px;
    height: 10px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotateZ(37deg);
    -moz-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    opacity: 0.5;
  }

  &:checked + label:after {
    transform-origin: 100% 100%;
    top: 7px;
    left: 1px;
    width: 5.5px;
    height: 10px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotateZ(37deg);
    -moz-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
  }

  &:checked:not(:disabled) + label {
    &:before{
      box-shadow: inset 0 0 0 10px $checkbox-checked-background-color;
      background-color: $checkbox-checked-background-color;
    }
  }
}

.cc__checkbox, .cc__switch {
  display: inline-block;
}

html.chayns--app,
html.chayns--tablet,
html.chayns--mobile{
    .checkbox:not(:disabled):not(:checked) + label:hover:after{
      opacity: 0;
    }
  }
