@import '../../_color';
@import './input';

.input-group {
  position: relative;

  &--disabled{
    opacity: 0.6;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
  }

  &__icon {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    opacity: .0;
    pointer-events: none;
    cursor: pointer;
    transition: all .4s;
  }

  &.labelRight label, input:focus + label {
    right: 0 !important;
    left: 0 !important;
    .chayns--app & {
      opacity: 0;
      right: 100%;
    }
    &.labelIcon {
      opacity: 0 !important;
    }
  }

  input,
  textarea {
    display: inline-block;

    &.input {
      width: 100%;

      & + label {
        position: absolute;
        text-align: right;
        top: 0;
        margin: 6px 1px;
        left: 0;
        right: 100%;
        white-space: nowrap;
        @include chayns-placeholder;
        pointer-events: none;
        transition: left 0.4s ease-out, right 0.4s ease-out,
          opacity 0.4s ease-out;
        opacity: 1;
        font-family: inherit;
        font-size: 100%;
        line-height: 1.15;
      }

      &[validate]:not(.valid) + label {
        @include chayns-placeholder--invalid;
      }
    }
  }
}

.chayns-browser--edge .input-group {
  input,
  textarea {
    &.input + label {
      font-size: 100%;
    }
  }
}
