.input-group {
  position: relative;
  display: flex;
  align-items: center;

  &--disabled {
    opacity: 0.6;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
  }

  &__icon {
    position: absolute;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    opacity: .0;
    pointer-events: none;
    cursor: pointer;
    transition: all .4s;
  }

  &.labelRight label, input:focus + label {
    overflow: hidden;

    &::after {
      width: 0 !important;
    }

    .space {
      margin-right: 10px;
      transition: margin-right 0ms 500ms;
    }

    .chayns--app & {
      opacity: 0;
    }

    &.labelIcon {
      opacity: 0 !important;
    }
  }

  .space {
    visibility: hidden;
    white-space: pre;
  }

  input,
  textarea {
    display: inline-block;

    &.input {
      width: 100%;

      & + label {
        position: absolute;
        text-align: right;
        margin: 6px 1px;
        left: 0;
        right: 0;
        white-space: nowrap;
        @include chayns-placeholder;
        pointer-events: none;
        transition: left 0.4s ease-out, right 0.4s ease-out,
        opacity 0.4s ease-out;
        opacity: 1;
        font-family: inherit;
        font-size: 100%;
        line-height: 1.15;
        display: inline-flex;
        justify-content: flex-end;

        &::after {
          content: " ";
          width: 100%;
          flex-shrink: 100000;
          transition: width 0.4s ease-out;
        }

        div {
          display: inline-block;
        }
      }

      &[validate]:not(.valid) + label {
        @include chayns-placeholder--invalid;
      }
    }
  }
}

.chayns-browser--edge .input-group {
  input,
  textarea {
    &.input + label {
      font-size: 100%;
    }
  }
}
