@import '../../_color';
@import '../../_generic/mixins';

input[type=number] {
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.input {
  @include input-defaults;
  padding: 5px 1px;
  font-weight: 300;
  box-shadow: none;
  border-radius: 0;
  background-color: transparent;
  border: 1px solid transparent;
  @include chayns-color-opacity(border-bottom-color, 'headline', 0.45);
  @include chayns-color(color, 'text');
  transition: border-color 0.4s, color 0.4s, font-weight 0.4s;

  &:focus {
    @include chayns-color-opacity(border-bottom-color, 'headline', 0.9);
  }

  &--disabled {
    opacity: 0.6;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
  }

  &--invalid {
    @include chayns-placeholder--invalid
  }

  &__input-wrapper {
    position: relative;
    width: 100%;
    flex: 1 0;
  }

  &--dynamic {
    &.input--label-right label, input:focus + label {
      //right: 0 !important;
      //left: 0 !important;
      visibility: visible;
      overflow: hidden;

      &::after {
        width: 0;
      }

      .space {
        margin-right: 10px;
        transition: margin-right 0ms 500ms;
      }
    }

    .space {
      visibility: hidden;
      white-space: pre;
    }
  }

  &--bottom-dynamic {
    &.input--label-right label {
      visibility: visible;
      overflow: hidden;
      // required for the animation, results in fixed height of 14px
      top: calc(100% - 7px);
      bottom: -7px;
      right: -6px;
      font-size: 9px;

      &:after {
        width: 0;
      }
    }

    &::after {
      display: none;
    }

    &.input--border-design--invalid {
      input {
        @include chayns-color-important(color, "text");
        font-weight: normal;
      }
    }

    .space {
      display: none;
    }
  }

  &--border-design {
    border: 1px solid rgba(160, 160, 160, 0.3);
    @include chayns-color-opacity(color, '006', 1);
    @include chayns-color(background-color, $input-border-design-background-color-name);
    padding: 8px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-radius: 3px;
    min-height: 42px;

    &.input--border_has-icon {
      padding: 0 0 0 10px;

      .button {
        padding: 7px;

        .input__icon-right {
          margin: auto;
        }
      }
    }

    &.input--border_has-right {
      padding: 0 0 0 10px;
    }

    &.cc-scanner {
      overflow: hidden;

      .button {
        margin: 0 0 0 8px;
        background-color: #FFFFFF;

        &:hover {
          background-color: #D4D4D4 !important;
        }

        .react-chayns-icon {
          @include chayns-color-important(color, 'primary');
        }
      }
    }

    .button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: none;
      margin: -1px -1px -1px 8px;
      min-height: 42px;
      min-width: 42px;

      .react-chayns-icon {
        color: #fff !important;
      }
    }

    .input__icon-left {
      margin-right: 8px;
    }

    .input__icon-right {
      margin-left: 8px;
      font-size: 1.2em;
      display: flex;
      justify-content: center;
      min-width: 24px;

      &[class*="ts-"] {
        font-size: 1.8em;
      }
    }

    &:not(.input--dynamic):not(.input--bottom-dynamic) {
      &.input--label-right label, input:focus + label {
        visibility: hidden;
      }
    }

    label {
      position: absolute;
      text-align: right;
      transition: left 0.25s ease-out, right 0.25s ease-out, font-size 0.25s ease-out, top 0.25s ease-out;
      left: 0;
      right: 0;
      top: 0;
      white-space: nowrap;
      user-select: none;
      pointer-events: none;
      @include chayns-color(color, '006');
      display: inline-flex;
      justify-content: flex-end;

      div {
        display: inline-block;
      }


      &::after {
        content: " ";
        width: 100%;
        flex-shrink: 100000;
        transition: width 0.25s ease-out;
      }
    }

    &--required {
      @include chayns-color(border-color, $input-border-design-required-border-color-name);
    }

    &--invalid {
      @include chayns-color(border-color, 'wrong');

      input {
        @include chayns-placeholder--invalid();

        &::-webkit-input-placeholder {
          @include chayns-placeholder--invalid();
        }

        &:-ms-input-placeholder {
          @include chayns-placeholder--invalid();
        }

        &:-moz-placeholder {
          @include chayns-placeholder--invalid();
        }

        &::-moz-placeholder {
          @include chayns-placeholder--invalid();
        }
      }

      i {
        @include chayns-color-important(color, 'wrong');
      }

      label {
        @include chayns-placeholder--invalid
      }
    }

    input {
      border: none;
      width: 100%;
      background: none;
      @include input-defaults('006', 1);
      @include chayns-color(color, 'text');
      line-height: 1;
      padding: 0;

      &:-webkit-autofill {
        -webkit-text-fill-color: var(--chayns-color--text);
        box-shadow: 0 0 0 100px var(--chayns-color--100);
      }
    }

    i {
      display: flex;
      @include chayns-color(color, '006');
    }
  }
}

textarea.input {
  resize: none;
  overflow-x: hidden;
}

textarea.input--border-design {
  @include chayns-color(color, 'text');
}

//checkbox/radio/switch preparation
input[type=checkbox].disabled,
input[type=checkbox][disabled],
input[type=radio].disabled,
input[type=radio][disabled] {
  cursor: not-allowed;
}
