@import '../../_color';
@import '../../_generic/mixins';

//input preperation
@mixin chayns-placeholder() {
  @include chayns-color-opacity(color, 'text', 0.45);
  transition: opacity 150ms ease-in-out;
}

@mixin chayns-placeholder--invalid() {
  @include chayns-color-important(color, 'red-2');
  font-weight: 700;
}

$input-border-color: '104';
$input-border-focus-color: '109';

.input {
  &::-webkit-input-placeholder {
    @include chayns-placeholder();
  }
  &:-ms-input-placeholder {
    @include chayns-placeholder();
  }
  &:-moz-placeholder {
    @include chayns-placeholder();
  }
  &::-moz-placeholder {
    @include chayns-placeholder();
  }

  &[validate]:not(.valid), &--invalid {
    @include chayns-placeholder--invalid();
    &::-webkit-input-placeholder {
      @include chayns-placeholder--invalid();
    }
    &:-ms-input-placeholder {
      @include chayns-placeholder--invalid();
    }
    &:-moz-placeholder {
      @include chayns-placeholder--invalid();
    }
    &::-moz-placeholder {
      @include chayns-placeholder--invalid();
    }
  }

  &::-ms-clear {
    display: none;
  }
  &:focus::-webkit-input-placeholder {
    opacity: 0;
  }
  &:focus:-ms-input-placeholder {
    opacity: 0;
  }
  &:focus:-moz-placeholder {
    opacity: 0;
  }
  &:focus::-moz-placeholder {
    opacity: 0;
  }
}

.input[type=number] {
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.input {
  padding: 5px 1px;
  font-weight: 300;
  box-shadow: none;
  background-color: transparent;
  border: 1px solid transparent;
  @include chayns-color(border-bottom-color, $input-border-color);
  border-radius: 0;
  color: $input-color;
  cursor: text;
  -webkit-user-modify: read-write-plaintext-only;
  -webkit-appearance: none;
  transition: border-color 0.4s, color 0.4s, font-weight 0.4s;

  &:focus {
    @include chayns-color(border-bottom-color, $input-border-focus-color);
  }

  &--disabled{
    opacity: 0.6;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
  }

  &--invalid {
    @include chayns-placeholder--invalid
  }
}

textarea.input {
  resize: none;
  overflow-x: hidden;
}

//checkbox/radio/switch preparation
input[type=checkbox].disabled,
input[type=checkbox][disabled],
input[type=radio].disabled,
input[type=radio][disabled] {
  cursor: not-allowed;
}
