@import '../../_color';
@import '../../_generic/mixins';

select::-ms-expand {
  display: none; // removes ugly ie arrow
}

.select {
  display: inline-flex;
  height: 30px;
  position: relative;
  justify-content: center;
  align-items: center;
  @include chayns-color(background-color, '202');
  transition: box-shadow .12s ease;
  border-radius: 2px;
  //box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1), 0 0 0 1px $select-border-color inset;
  overflow: hidden;

  &:after {
    position: absolute;
    right: 8px;
    top: 0;
    content: "\e936";
    font-family: 'FontTS' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    padding-left: 8px;
    @include chayns-color(color, 'text');
    transition: color .12s ease;
    pointer-events: none;
    height: 100%;
    display: flex;
    align-items: center;
  }

  select {
    @include chayns-color(color, 'text');
    appearance: none;
    border: none;
    background-color: transparent;
    width: 100%;
    padding: 2px 24px 2px 12px;
    line-height: 20px;
    cursor: pointer;

    option {
      @include chayns-color(background-color, '202');
      @include chayns-color(color, 'text');
    }
  }

  &.select--disabled {
    opacity: .4;
  }
}

// prevents hover on mobile/in app since hover on mobile is triggered by a tap
.chayns--desktop {
  .select:not(.select--disabled):hover {
    //box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.09), 0 0 0 1px $select-hover-border-color inset;
    &:after {
      //color: $select-hover-icon-color;
    }
  }
}
