select::-ms-expand {
  display: none; // removes ugly internet explorer arrow
}

.select {
  display: inline-flex;
  height: 30px;
  position: relative;
  justify-content: center;
  align-items: center;
  transition: box-shadow .12s ease;
  overflow: hidden;
  border: 0;

  @if ($design__button==2) {
    border-width: 1px;
    border-style: solid;
    @include chayns-color(border-color, '203');
    background-color: transparent;
  } @else {
    @include chayns-color(color, 'text');
    @include chayns-color(background-color, '202');
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  }

  @if ($design__button==1) {
    border-radius: 100px;
  } @else {
    border-radius: 3px;
  }

  &:after {
    position: absolute;
    right: 8px;
    top: 0;
    content: "\e936";
    font-family: 'FontTS' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    padding-left: 8px;
    @include chayns-color(color, 'text');
    transition: color .12s ease;
    pointer-events: none;
    height: 100%;
    display: flex;
    align-items: center;
  }

  select {
    @include chayns-color(color, 'text');
    appearance: none;
    border: none;
    background-color: transparent;
    width: 100%;
    padding: 2px 24px 2px 12px;
    line-height: 20px;
    cursor: pointer;

    option {
      @include chayns-color(background-color, '202');
      @include chayns-color(color, 'text');
    }
  }

  &.select--disabled {
    opacity: .4;
  }
}

// prevents hover on mobile/in app since hover on mobile is triggered by a tap
.chayns--desktop {
  .select:not(.select--disabled):hover {
    @if ($design__button==2) {
      @include chayns-color-opacity(background-color, '102', 0.5);
    } @else {
      @include chayns-color(background-color, '203');
    }
  }
}
