@import '../../_color';

.switch {
  display: none;

  & + label {
    background-color: $switch-background-color;
    width: 28px;
    height: 13px;
    border-radius: 8px;
    display: inline-block;
    margin: 0 10px;

    &:before {
      display: block;
      position: absolute;
      width: 16px;
      height: 16px;
      margin-top: -1.5px;
      margin-left: -3px;
      background-color: $switch-button-background-color;
      border-radius: 50%;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.35);
      content: ' ';
      transition: transform 100ms linear;
    }
  }

  &:checked + label:before {
    transform: translateX(22px);
  }

  &:checked + label {
    background-color: $switch-checked-background-color;
  }

  &:disabled + label {
    opacity: 0.5;
  }
}
