$content-card-success-border-color: map_get($colors, 'green-1');
$content-card-success-background-color: map_get($colors, 'green-4');
$content-card-success-color: #222222;
$content-card-success-color-rgb: 34, 34, 34;
$content-card-warning-border-color: map_get($colors, 'yellow-1');
$content-card-warning-background-color: map_get($colors, 'yellow-4');
$content-card-warning-color: #222222;
$content-card-warning-color-rgb: 34, 34, 34;
$content-card-danger-border-color: map_get($colors, 'red-1');
$content-card-danger-background-color: map_get($colors, 'red-4');
$content-card-danger-color: #222222;
$content-card-danger-color-rgb: 34, 34, 34;

.content__card {
  padding: 8px 12px;
  @include chayns-color(background-color, 'secondary-100');

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &.content__card--success {
    border-width: 1px;
    border-style: solid;
    border-color: $content-card-success-border-color;
    background-color: $content-card-success-background-color;
    color: $content-card-success-color;
    --chayns-color--text: #{$content-card-success-color};
    --chayns-color-rgb--text: #{$content-card-success-color-rgb};

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a,
    span {
      color: $content-card-success-color;
    }
  }

  &.content__card--warning {
    border-width: 1px;
    border-style: solid;
    border-color: $content-card-warning-border-color;
    background-color: $content-card-warning-background-color;
    color: $content-card-warning-color;
    --chayns-color--text: #{$content-card-warning-color};
    --chayns-color-rgb--text: #{$content-card-warning-color-rgb};

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a,
    span {
      color: $content-card-warning-color;
    }
  }

  &.content__card--danger {
    border-width: 1px;
    border-style: solid;
    border-color: $content-card-danger-border-color;
    background-color: $content-card-danger-background-color;
    color: $content-card-danger-color;
    --chayns-color--text: #{$content-card-danger-color};
    --chayns-color-rgb--text: #{$content-card-danger-color-rgb};

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    a,
    span {
      color: $content-card-danger-color;
    }
  }
}
