@import '../_color';

.content__card {
  padding: 8px 12px;
  background-color: $content-card-background-color;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &.content__card--success {
    border-width: 1px;
    border-style: solid;
    border-color: $content-card-success-border-color;
    background-color: $content-card-success-background-color;
    color: $content-card-success-color;
  }

  &.content__card--warning {
    border-width: 1px;
    border-style: solid;
    border-color: $content-card-warning-border-color;
    background-color: $content-card-warning-background-color;
    color: $content-card-warning-color;
  }

  &.content__card--danger {
    border-width: 1px;
    border-style: solid;
    border-color: $content-card-danger-border-color;
    background-color: $content-card-danger-background-color;
    color: $content-card-danger-color;
  }
}
