footer {
  font-size: 0.85rem;
  --font-size: 0.85rem; //Needed in pagemaker

  @include chayns-color(color, 'footer');
  margin: 10px 0 0;

  & a {
    @include chayns-color(color, 'footer');
    letter-spacing: -0.3px;
  }
}
