@import '../config';
@import '../_color';
@import '../_generic/mixins';

$headline-sizes: (
        1: 1.7rem,
        2: 1.4rem,
        3: 1.1rem,
        4: 1rem,
        5: 0.8rem
) !default;

// all heading styles
@mixin headline($font-size, $bottom-margin:10px) {
  margin: 0 0 $bottom-margin 0;
  font-weight: normal;
  font-size: $font-size;
  font-family: $headline-font-family;
}

@for $i from 1 through 5 {
  h#{$i},
  .h#{$i} {
    $size: map_get($headline-sizes, $i);
    @include headline($size);
  }
}

h1,
.h1 {
  color: $h1-color;
  margin: 1.2rem 0 5px 0;
  line-height: 1.35;
}

h2,
.h2 {
  color: $h2-color;
  margin: 1.2rem 0 5px 0;
  line-height: 1.35;
}

h3,
.h3 {
  color: $h3-color;
  margin: 1.2rem 0 5px 0;
  line-height: 1.5;
}

h4,
.h4 {
  color: $h4-color;
  margin: 1.1rem 0 5px 0;
  line-height: 1.5;
}

h5,
.h5 {
  color: $h5-color;
  margin: 1.1rem 0 5px 0;
  line-height: 1.5;
}

.tapp {
  :not(table &) {
    &, :first-child {
      & > h1, & > .h1,
      & > h2, & > .h2,
      & > h3, & > .h3,
      & > h4, & > .h4,
      & > h5, & > .h5 {
        &:not(table &):first-of-type:first-child {
          margin-top: 0;
        }
      }
    }
  }
}
