$headline-sizes: (
        1: 1.7,
        2: 1.4,
        3: 1.1,
        4: 1,
        5: 0.8
) !default;

@for $i from 1 through 5 {
  h#{$i},
  .h#{$i} {
    $size: #{map_get($headline-sizes, $i)};

    margin: 0 0 10px 0;
    font-weight: normal;
    font-family: $headline-font-family;
    word-spacing: $headline-word-spacing;
    letter-spacing: $headline-letter-spacing;

    $s: map_get($headline-sizes, $i) * $headline-font-factor;
    font-size: #{$s}rem;
    --font-size: #{$s}rem;//Needed in pagemaker
    @include chayns-color(color, 'headline-#{$i}');
  }
}

h1,
.h1 {
  margin: 1.2rem 0 5px 0;
  line-height: 1.35 * $headline-line-height-factor;
}

h2,
.h2 {
  margin: 1.2rem 0 5px 0;
  line-height: 1.35 * $headline-line-height-factor;
}

h3,
.h3 {
  margin: 1.2rem 0 5px 0;
  line-height: 1.35 * $headline-line-height-factor;
}

h4,
.h4 {
  margin: 1.1rem 0 5px 0;
  line-height: 1.35 * $headline-line-height-factor;
}

h5,
.h5 {
  margin: 1.1rem 0 5px 0;
  line-height: 1.35 * $headline-line-height-factor;
}

.tapp {
  &, :first-child:not(td) {
    & > h1, & > .h1,
    & > h2, & > .h2,
    & > h3, & > .h3,
    & > h4, & > .h4,
    & > h5, & > .h5 {
      &:first-of-type:first-child {
        margin-top: 0;
      }
    }
  }
}
