@import '../config';
@import '../_color';

.mode-switch {
  width: 100%;
  position: absolute;
  left: 0;
  top: -1px;
  z-index: 9999;
  color: $base-text-color;

  & *,
  & *:after,
  & *:before {
    box-sizing: border-box;
  }

  .mode-switch__head {
    width: 60px;
    height: 25px;
    border: 1px solid $mode-switch-border-color;
    border-top: 0;
    margin: -1px auto;
    padding-top: 1px;
    text-align: center;
    position: relative;
    cursor: pointer;
    background-color: red; //$mode-switch-background-color;

    transition: background-color 0.25s ease-in-out;
  }

  .mode-switch__head:after {
    @extend .icon;
    content: "\f013";
    
    -webkit-animation:  mode_switch__rotate 2s ease .8s;
    animation:  mode_switch__rotate 2s ease .8s;
    transition: color 0.25s ease-in-out;
    
    color: $mode-switch--arrow-color;
  }

  &.mode-switch--default {
    & > .mode-switch__head {
      background-color: $mode-switch-background-color;
      &:after {
        color: $mode-switch--arrow-color-default;
      }
    }
  }

  .mode-switch__body {
    width: 92%;
    border: 1px solid $mode-switch-border-color;
    border-top: 0;
    margin: 0 auto;
    overflow: hidden;
    max-height: 0;

    background-color: $mode-switch-background-color;

    @extend .animation__accordion--close;
  }

  .mode-switch__content {
    padding: 20px 30px 25px;
  }

  &.mode-switch--open {
    & > .mode-switch__body {
      max-height: 9999px;
      @extend .animation__accordion--open;
    }
  }

  .mode-switch__body__grid {
    @extend .grid;
  }

  .mode-switch__body__grid__item {
    @extend .grid__item;
    @extend .col-1-2-desktop;
    @extend .col-1-1-mobile;
  }

}

@media screen and (max-width: 33.5em) {
  html:not(.chayns--desktop) .mode-switch__tapp-padding {
    padding-top: 25px;
  }
}


.mode-switch__bounce {
  -webkit-animation:  mode-switch__bounce 1s both;
  animation:  mode-switch__bounce 1s both;
}

@-webkit-keyframes mode-switch__bounce {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes mode-switch__bounce {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes mode_switch__rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes mode_switch__rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}