.scrollbar {
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    width: 5px;
    background: rgba(0,0,0,.2);
    border-radius: 20px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}