@import '../_color';

// create own color variable if the color differs from the default one
// if the color is changed, the chayns/slider.js needs to be changed aswell

@mixin track {
  height: 5px;
  border-width: 9px 0;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

@mixin thumb {
  -webkit-appearance: none;
  border: none;
  height: 15px;
  width: 15px;
  background-color: $color;
  border-radius: 100%;
  transition: width .1s, height .1s, margin-top .1s;
}

@mixin thumb-focus {
  height: 22.5px;
  width: 22.5px;
}

.slider {
  -webkit-appearance: none;
  background-color: #ddd;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  &::-ms-tooltip {
    display: none;
  }

  &::-webkit-slider-thumb {
    @include thumb();
    margin-top: -5px;
  }
  &::-moz-range-thumb {
    @include thumb();
  }
  &::-ms-thumb {
    @include thumb();
    margin-top: 0;
  }

  &:focus::-webkit-slider-thumb {
    @include thumb-focus();
    margin-top: -8.75px;
  }
  &:focus::-moz-range-thumb { @include thumb-focus(); }
  &:focus::-ms-thumb {
    @include thumb();
    margin-top: 0;
  }

  &::-webkit-slider-runnable-track { @include track(); }
  &::-moz-range-track {
    @include track();
    background-color: #ddd;
  }
  &::-ms-track { @include track(); }

  &::-ms-fill-lower {
    border-radius: 10px;
    background-color: $color;
  }

  &::-ms-fill-upper {
    border-radius: 10px;
    background-color: #ddd;
  }

}

.chayns-browser--edge .slider,
.chayns-browser--ie .slider {
  background-color: transparent;
}