@import '../config';
@import '../_color';
@import '../_generic/mixins';

// Tapps: Main Layout
// Tapp Base Layout to start a new Tapp
.tapp * {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

.tapp {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 15px 10px 20px;
  width: 100%;
  max-width: 100vw;
  color: $base-text-color;
}

// hint-box used for hints (e.g. "Only visible for admins")
.tapp__hint {
  padding: 4px 8px;
  background-color: $tapp-hint-color;
  margin-bottom: 15px;
}

// Tapp Intro used for intro text
.tapp__intro {
  margin-bottom: 30px;
}

// Tapp Intro & Tapp Content
.tapp__intro,
.tapp__content {
  margin-bottom: 12px;
}

.chayns--mobile {
  overflow: hidden;
}

.chayns--desktop:not(.chayns--net_runtime):not(.chayns--parent), .chayns--desktop.chayns--net_runtime:not(.chayns--parent) {
  overflow: hidden; // prevents scrolling for chayns web

  .tapp {
    padding: 35px 43px 30px;
  }

  .tapp__intro,
  .tapp__content {
    margin-bottom: 40px;
  }

  body {
    overflow: hidden;
  }
}

.chayns--parent:not(.chayns--net_runtime) {
  overflow: auto;

  body {
    overflow: auto;
  }
}
