@import '../_color';

.chayns__background-color {
  background-color: $color;
}

.chayns__color {
  color: $color;
}

.chayns__border-color {
  border-color: $color
}

@each $key, $color in $colors {
  .chayns__background-color--#{$key} {
    background-color: $color;
  }

  .chayns__color--#{$key} {
    color: $color;
  }

  .chayns__border-color--#{$key} {
    border-color: $color
  }
}

@each $key, $color in $shades {
  .chayns__background-color--shade-#{$key} {
    background-color: $color;
  }

  .chayns__color--shade-#{$key} {
    color: $color;
  }

  .chayns__border-color--shade-#{$key} {
    border-color: $color
  }
}

@each $key, $color in $red {
  .chayns__background-color--red-#{$key} {
    background-color: $color;
  }

  .chayns__color--red-#{$key} {
    color: $color;
  }

  .chayns__border-color--red-#{$key} {
    border-color: $color
  }
}

@each $key, $color in $yellow {
  .chayns__background-color--yellow-#{$key} {
    background-color: $color;
  }

  .chayns__color--yellow-#{$key} {
    color: $color;
  }

  .chayns__border-color--yellow-#{$key} {
    border-color: $color
  }
}

@each $key, $color in $green {
  .chayns__background-color--green-#{$key} {
    background-color: $color;
  }

  .chayns__color--green-#{$key} {
    color: $color;
  }

  .chayns__border-color--green-#{$key} {
    border-color: $color
  }
}
