// tobit icons
@import url('https://api.chayns-static.space/font-ts/font-ts.css');

@font-face {
  font-family: 'FontTS';
  src: url('https://api.chayns-static.space/font-ts/FontTS-latest.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
