// helpers
.float--right   { float:right!important; }
.float--left    { float:left !important; }
.float--none    { float:none !important; }

.text--left     { text-align:left  !important; }
.text--center   { text-align:center!important; }
.text--right    { text-align:right !important; }

.non-selectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}