@import '../_config';

// Media Queries
//
// $media-query - Query name (phone, tablet, desktop)
//
// Compatible in IE8+, Firefox 2, Safari 4+
@mixin media-query($mq) {

  $breakpoint-found: false;

  @each $breakpoint in $breakpoints {

    $alias: nth($breakpoint, 1);
    $condition: nth($breakpoint, 2);

    @if $mq == $alias and $condition {

      $breakpoint-found: true;

      @media #{$condition} {
        @content;
      }

    }

  }

  @if $breakpoint-found == false {
    @warn "Oops! Breakpoint ‘#{$mq}’ does not exist."
  }

}

//chayns colors
@mixin chayns-color($property-name, $color-name) {
  #{$property-name}: map_get($colors, #{$color-name});
  #{$property-name}: var(--chayns-color--#{$color-name});
}

@mixin chayns-color-important($property-name, $color-name) {
  #{$property-name}: map_get($colors, #{$color-name}) !important;
  #{$property-name}: var(--chayns-color--#{$color-name}) !important;
}

@mixin chayns-color-opacity($property-name, $color-name, $opacity) {
  #{$property-name}: rgba(map_get($colors, $color-name), $opacity);
  #{$property-name}: rgba(var(--chayns-color-rgb--#{$color-name}), #{$opacity});
}

//input
@mixin chayns-placeholder($color: 'text', $opacity: 0.45) {
  @include chayns-color-opacity(color, $color, $opacity);
  transition: opacity 150ms ease-in-out;
}

@mixin chayns-placeholder--invalid() {
  @include chayns-color-important(color, 'wrong');
  font-weight: 700;
}

@mixin input-defaults($color: 'text', $opacity: 0.45) {
  &::-webkit-input-placeholder {
    @include chayns-placeholder($color, $opacity);
  }

  &:-ms-input-placeholder {
    @include chayns-placeholder($color, $opacity);
  }

  &:-moz-placeholder {
    @include chayns-placeholder($color, $opacity);
  }

  &::-moz-placeholder {
    @include chayns-placeholder($color, $opacity);
  }

  &[validate]:not(.valid), &--invalid {
    @include chayns-placeholder--invalid();

    &::-webkit-input-placeholder {
      @include chayns-placeholder--invalid();
    }

    &:-ms-input-placeholder {
      @include chayns-placeholder--invalid();
    }

    &:-moz-placeholder {
      @include chayns-placeholder--invalid();
    }

    &::-moz-placeholder {
      @include chayns-placeholder--invalid();
    }
  }

  &:focus::-webkit-input-placeholder {
    opacity: 0;
  }

  &:focus:-ms-input-placeholder {
    opacity: 0;
  }

  &:focus:-moz-placeholder {
    opacity: 0;
  }

  &:focus::-moz-placeholder {
    opacity: 0;
  }

  &::-ms-clear {
    display: none;
  }

  cursor: text;
  -webkit-user-modify: read-write-plaintext-only;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}
