* {
  &:not(.button--show-focus),
  &:before,
  &:after {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
  }
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, form, fieldset, legend,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0;
}

img {
  font-style: italic;
}

label,
textarea,
button,
select,
option {
  cursor: pointer;
}

input:active,
input:focus,
textarea:active,
textarea:focus {
  cursor: text;
  outline: none;
}

button {
  border: 0;
}
