// -- This colors will be replaced by the css api --
$color: #AC0000 !default;
$textColor: #FFFFFF !default;
$secondaryColor: $color !default;
$headerBarColor: #AC0000 !default;
$cwBackgroundColor: mix($color, #2F2F2F, 20%) !default; // 101
$brightness: 100% !default;
$secondaryBrightness: 100% !default;
$newBrightness: 100% !default;
// -------------------------------------------------

$cwBodyBackgroundColor: mix($color, #222222, 10%) !default;
$dependOnBrightnessColor: mix($color, #FFFFFF, $newBrightness);

$base400Color: $color;
$accent400Color: #2F2F2F;
@if ($brightness<50%) {
  $base400Color: lighten($color, ($brightness * -1 + 100%)*0.5);
  $accent400Color: darken($accent400Color, ($brightness * -1 + 100%)*0.1);
} @else if ($brightness==100% and saturation($color)<0.15) {
  $base400Color: #a8a8a8;
}

$secondaryBase400Color: $secondaryColor;
$secondaryAccent400Color: #2F2F2F;
@if ($secondaryBrightness<50%) {
  $secondaryBase400Color: lighten($secondaryColor, ($secondaryBrightness * -1 + 100%)*0.5);
  $secondaryAccent400Color: darken($secondaryAccent400Color, ($secondaryBrightness * -1 + 100%)*0.1);
} @else if ($secondaryBrightness==100% and saturation($secondaryColor)<0.15) {
  $secondaryBase400Color: #a8a8a8;
}

@function getParagraphValue($selector, $property, $fallback) {
  @if map-has-key($paragraph-styles, $selector) {
    $styles: map-get($paragraph-styles, $selector);
    @if map-has-key($styles, $property) {
      @return map-get($styles, $property);
    }
  }
  @return $fallback;
}

@function getParagraphColor($selector, $fallback) {
  @return getParagraphValue($selector, "color", $fallback);
}

$colors: (
        '000': mix(#000000, #FFFFFF, 100%),
        '001': mix(#000000, #FFFFFF, 97%),
        '002': mix(#000000, #FFFFFF, 90%),
        '003': mix(#000000, #FFFFFF, 75%),
        '004': mix(#000000, #FFFFFF, 60%),
        '005': mix(#000000, #FFFFFF, 50%),
        '006': mix(#000000, #FFFFFF, 40%),
        '007': mix(#000000, #FFFFFF, 25%),
        '008': mix(#000000, #FFFFFF, 10%),
        '009': mix(#000000, #FFFFFF, 0%),
        '100': mix($color, #2F2F2F, 20%),
        '101': mix($color, #2F2F2F, 20%),
        '102': mix($color, #2F2F2F, 30%),
        '103': mix($color, #2F2F2F, 40%),
        '104': mix($color, #2F2F2F, 50%),
        '105': mix($color, #2F2F2F, 60%),
        '106': mix($color, #2F2F2F, 70%),
        '107': mix($color, #2F2F2F, 80%),
        '108': mix($color, #2F2F2F, 90%),
        '109': mix($color, #2F2F2F, 100%),
        '200': mix($color, #777777, 0%),
        '201': mix($color, #777777, 10%),
        '202': mix($color, #777777, 20%),
        '203': mix($color, #777777, 30%),
        '204': mix($color, #777777, 40%),
        '205': mix($color, #777777, 50%),
        '206': mix($color, #777777, 60%),
        '207': mix($color, #777777, 70%),
        '208': mix($color, #777777, 80%),
        '209': mix($color, #777777, 90%),
        '300': mix($color, #242424, 90%),
        '301': mix($color, #242424, 80%),
        '302': mix($color, #242424, 70%),
        '303': mix($color, #242424, 60%),
        '304': mix($color, #242424, 50%),
        '305': mix($color, #242424, 40%),
        '306': mix($color, #242424, 30%),
        '307': mix($color, #242424, 20%),
        '308': mix($color, #242424, 10%),
        '309': mix($color, #242424, 0%),
        '400': mix($base400Color, $accent400Color, 20%),
        '401': mix($base400Color, $accent400Color, 20%),
        '402': mix($base400Color, $accent400Color, 30%),
        '403': mix($base400Color, $accent400Color, 40%),
        '404': mix($base400Color, $accent400Color, 50%),
        '405': mix($base400Color, $accent400Color, 60%),
        '406': mix($base400Color, $accent400Color, 70%),
        '407': mix($base400Color, $accent400Color, 80%),
        '408': mix($base400Color, $accent400Color, 90%),
        '409': mix($base400Color, $accent400Color, 100%),
        'secondary-100': mix($secondaryColor, #2F2F2F, 20%),
        'secondary-101': mix($secondaryColor, #2F2F2F, 20%),
        'secondary-102': mix($secondaryColor, #2F2F2F, 30%),
        'secondary-103': mix($secondaryColor, #2F2F2F, 40%),
        'secondary-104': mix($secondaryColor, #2F2F2F, 50%),
        'secondary-105': mix($secondaryColor, #2F2F2F, 60%),
        'secondary-106': mix($secondaryColor, #2F2F2F, 70%),
        'secondary-107': mix($secondaryColor, #2F2F2F, 80%),
        'secondary-108': mix($secondaryColor, #2F2F2F, 90%),
        'secondary-109': mix($secondaryColor, #2F2F2F, 100%),
        'secondary-200': mix($secondaryColor, #777777, 0%),
        'secondary-201': mix($secondaryColor, #777777, 10%),
        'secondary-202': mix($secondaryColor, #777777, 20%),
        'secondary-203': mix($secondaryColor, #777777, 30%),
        'secondary-204': mix($secondaryColor, #777777, 40%),
        'secondary-205': mix($secondaryColor, #777777, 50%),
        'secondary-206': mix($secondaryColor, #777777, 60%),
        'secondary-207': mix($secondaryColor, #777777, 70%),
        'secondary-208': mix($secondaryColor, #777777, 80%),
        'secondary-209': mix($secondaryColor, #777777, 90%),
        'secondary-300': mix($secondaryColor, #242424, 90%),
        'secondary-301': mix($secondaryColor, #242424, 80%),
        'secondary-302': mix($secondaryColor, #242424, 70%),
        'secondary-303': mix($secondaryColor, #242424, 60%),
        'secondary-304': mix($secondaryColor, #242424, 50%),
        'secondary-305': mix($secondaryColor, #242424, 40%),
        'secondary-306': mix($secondaryColor, #242424, 30%),
        'secondary-307': mix($secondaryColor, #242424, 20%),
        'secondary-308': mix($secondaryColor, #242424, 10%),
        'secondary-309': mix($secondaryColor, #242424, 0%),
        'secondary-400': mix($secondaryBase400Color, $secondaryAccent400Color, 20%),
        'secondary-401': mix($secondaryBase400Color, $secondaryAccent400Color, 20%),
        'secondary-402': mix($secondaryBase400Color, $secondaryAccent400Color, 30%),
        'secondary-403': mix($secondaryBase400Color, $secondaryAccent400Color, 40%),
        'secondary-404': mix($secondaryBase400Color, $secondaryAccent400Color, 50%),
        'secondary-405': mix($secondaryBase400Color, $secondaryAccent400Color, 60%),
        'secondary-406': mix($secondaryBase400Color, $secondaryAccent400Color, 70%),
        'secondary-407': mix($secondaryBase400Color, $secondaryAccent400Color, 80%),
        'secondary-408': mix($secondaryBase400Color, $secondaryAccent400Color, 90%),
        'secondary-409': mix($secondaryBase400Color, $secondaryAccent400Color, 100%),
        'primary': $color,
        'secondary': $secondaryColor,
        'headline': $textColor,
        'headline-1': getParagraphColor("h1", $textColor),
        'headline-2': getParagraphColor("h2", $textColor),
        'headline-3': getParagraphColor("h3", $textColor),
        'headline-4': getParagraphColor("h4", $textColor),
        'headline-5': $textColor,
        'text': getParagraphColor(":root, .tapp, p", $textColor),
        'footer': getParagraphColor("footer", mix(#000000, #FFFFFF, 50%)),
        'header-bar': $headerBarColor,
        'cw-background': $cwBackgroundColor,
        'cw-body-background': $cwBodyBackgroundColor,
        'depend-on-brightness': $dependOnBrightnessColor,
        'red': #723F3F,
        'green': #198B2C,
        'wrong': #CA8181,
        'red-1': #5a0303,
        'red-2': #96060b,
        'red-3': #ca8181,
        'red-4': #e9cccc,
        'yellow-1': #9F5F00,
        'yellow-2': #FF9800,
        'yellow-3': #FFB74D,
        'yellow-4': #FFF3E0,
        'green-1': #074709,
        'green-2': #0e7710,
        'green-3': #85ba87,
        'green-4': #cde3ce,
);

$colors1: (
        1: mix($color, #FFFFFF, 5%),
        2: mix($color, #FFFFFF, 20%),
        3: mix($color, #FFFFFF, 40%),
        4: mix($color, #FFFFFF, 60%),
        5: mix($color, #FFFFFF, 80%),
        6: mix($color, #FFFFFF, 90%),
);
$colors2: (
        1: mix($color, #7D7D7D, 70%),
        2: mix($color, #7D7D7D, 40%),
        3: mix($color, #7D7D7D, 15%),
        4: mix($color, #7D7D7D, 3%),
);
$colors3: (
        1: mix($color, #242424, 70%),
        2: mix($color, #242424, 40%),
        3: mix($color, #242424, 15%),
        4: mix($color, #242424, 3%),
);
$colors4: (
        1: mix($color, #101010, 40%),
        2: mix($color, #101010, 15%),
        3: mix($color, #101010, 3%),
);

$shades: (
        1: #ffffff,
        2: #f1f1f1,
        3: #dbdbdb,
        4: #b7b7b7,
        5: #777777,
        6: #474747,
        7: #222222,
        8: #000000,
);

// @deprecated: will be removed in next minor version
//receiver input
$receiver-popup-group-headline-background-color: map_get($colors3, 4);
$receiver-popup-chosen-member-background-color: map_get($colors3, 4);
$receiver-popup-background-color: map_get($colors3, 4);
$receiver-popup-box-shadow-color: map_get($colors3, 4);
$receiver-popup-border-color: map_get($colors3, 3);
$receiver-popup-image-border: map_get($shades, 6);
$receiver-popup-item-hover: map_get($colors3, 4);
$receiver-popup-item-even: map_get($colors4, 3);
$receiver-popup-item-odd: map_get($colors3, 3);
$input-border-color: map_get($shades, 4);
//setup wizard
$wizard-step-ready-background-color: map_get($colors3, 1);
$wizard-step-ready-color: map_get($shades, 1);
$wizard-step-notReady-background-color: map_get($colors3, 2);
$wizard-step-notReady-color: map_get($shades, 3);

//input border design
$input-border-design-background-color-name: '100';
$input-border-design-required-border-color-name: '006';

//badge
$badge-color-name: '009';
