// The css api will replace this file with _color-default.scss, _color-inverted.scss or _color-pure.scss

// -- This colors will be replaced by the css api --
$color: #AC0000 !default;
$secondaryColor: $color !default;
$headerBarColor: #AC0000 !default;
$cwBackgroundColor: mix($color, #FFFFFF, 10%) !default; // 101
$brightness: 100% !default;
$secondaryBrightness: 100% !default;
$newBrightness: 100% !default;
// -------------------------------------------------

$cwBodyBackgroundColor: mix($color, #FFFFFF, 10%) !default;
$dependOnBrightnessColor: mix($color, #FFFFFF, $brightness);

$base400Color: $color;
@if ($brightness==100% and saturation($color)<0.15) {
  $base400Color: #a8a8a8;
}

$secondaryBase400Color: $secondaryColor;
@if ($secondaryBrightness==100% and saturation($secondaryColor)<0.15) {
  $secondaryBase400Color: #a8a8a8;
}

// main color palette
$colors: (
        '000': mix(#000000, #FFFFFF, 0%),
        '001': mix(#000000, #FFFFFF, 3%),
        '002': mix(#000000, #FFFFFF, 10%),
        '003': mix(#000000, #FFFFFF, 25%),
        '004': mix(#000000, #FFFFFF, 40%),
        '005': mix(#000000, #FFFFFF, 50%),
        '006': mix(#000000, #FFFFFF, 60%),
        '007': mix(#000000, #FFFFFF, 75%),
        '008': mix(#000000, #FFFFFF, 90%),
        '009': mix(#000000, #FFFFFF, 100%),
        '100': mix($color, #FFFFFF, 0%),
        '101': mix($color, #FFFFFF, 10%),
        '102': mix($color, #FFFFFF, 20%),
        '103': mix($color, #FFFFFF, 30%),
        '104': mix($color, #FFFFFF, 40%),
        '105': mix($color, #FFFFFF, 50%),
        '106': mix($color, #FFFFFF, 60%),
        '107': mix($color, #FFFFFF, 70%),
        '108': mix($color, #FFFFFF, 80%),
        '109': mix($color, #FFFFFF, 90%),
        '200': mix($color, #E4E4E4, 0%),
        '201': mix($color, #E4E4E4, 10%),
        '202': mix($color, #E4E4E4, 20%),
        '203': mix($color, #E4E4E4, 30%),
        '204': mix($color, #E4E4E4, 40%),
        '205': mix($color, #E4E4E4, 50%),
        '206': mix($color, #E4E4E4, 60%),
        '207': mix($color, #E4E4E4, 70%),
        '208': mix($color, #E4E4E4, 80%),
        '209': mix($color, #E4E4E4, 90%),
        '300': mix($color, #242424, 0%),
        '301': mix($color, #242424, 10%),
        '302': mix($color, #242424, 20%),
        '303': mix($color, #242424, 30%),
        '304': mix($color, #242424, 40%),
        '305': mix($color, #242424, 50%),
        '306': mix($color, #242424, 60%),
        '307': mix($color, #242424, 70%),
        '308': mix($color, #242424, 80%),
        '309': mix($color, #242424, 90%),
        '400': mix($base400Color, #FFFFFF, 0%),
        '401': mix($base400Color, #FFFFFF, 10%),
        '402': mix($base400Color, #FFFFFF, 20%),
        '403': mix($base400Color, #FFFFFF, 30%),
        '404': mix($base400Color, #FFFFFF, 40%),
        '405': mix($base400Color, #FFFFFF, 50%),
        '406': mix($base400Color, #FFFFFF, 60%),
        '407': mix($base400Color, #FFFFFF, 70%),
        '408': mix($base400Color, #FFFFFF, 80%),
        '409': mix($base400Color, #FFFFFF, 90%),
        'secondary-100': mix($secondaryColor, #FFFFFF, 0%),
        'secondary-101': mix($secondaryColor, #FFFFFF, 10%),
        'secondary-102': mix($secondaryColor, #FFFFFF, 20%),
        'secondary-103': mix($secondaryColor, #FFFFFF, 30%),
        'secondary-104': mix($secondaryColor, #FFFFFF, 40%),
        'secondary-105': mix($secondaryColor, #FFFFFF, 50%),
        'secondary-106': mix($secondaryColor, #FFFFFF, 60%),
        'secondary-107': mix($secondaryColor, #FFFFFF, 70%),
        'secondary-108': mix($secondaryColor, #FFFFFF, 80%),
        'secondary-109': mix($secondaryColor, #FFFFFF, 90%),
        'secondary-200': mix($secondaryColor, #E4E4E4, 0%),
        'secondary-201': mix($secondaryColor, #E4E4E4, 10%),
        'secondary-202': mix($secondaryColor, #E4E4E4, 20%),
        'secondary-203': mix($secondaryColor, #E4E4E4, 30%),
        'secondary-204': mix($secondaryColor, #E4E4E4, 40%),
        'secondary-205': mix($secondaryColor, #E4E4E4, 50%),
        'secondary-206': mix($secondaryColor, #E4E4E4, 60%),
        'secondary-207': mix($secondaryColor, #E4E4E4, 70%),
        'secondary-208': mix($secondaryColor, #E4E4E4, 80%),
        'secondary-209': mix($secondaryColor, #E4E4E4, 90%),
        'secondary-300': mix($secondaryColor, #242424, 0%),
        'secondary-301': mix($secondaryColor, #242424, 10%),
        'secondary-302': mix($secondaryColor, #242424, 20%),
        'secondary-303': mix($secondaryColor, #242424, 30%),
        'secondary-304': mix($secondaryColor, #242424, 40%),
        'secondary-305': mix($secondaryColor, #242424, 50%),
        'secondary-306': mix($secondaryColor, #242424, 60%),
        'secondary-307': mix($secondaryColor, #242424, 70%),
        'secondary-308': mix($secondaryColor, #242424, 80%),
        'secondary-309': mix($secondaryColor, #242424, 90%),
        'secondary-400': mix($secondaryBase400Color, #FFFFFF, 0%),
        'secondary-401': mix($secondaryBase400Color, #FFFFFF, 10%),
        'secondary-402': mix($secondaryBase400Color, #FFFFFF, 20%),
        'secondary-403': mix($secondaryBase400Color, #FFFFFF, 30%),
        'secondary-404': mix($secondaryBase400Color, #FFFFFF, 40%),
        'secondary-405': mix($secondaryBase400Color, #FFFFFF, 50%),
        'secondary-406': mix($secondaryBase400Color, #FFFFFF, 60%),
        'secondary-407': mix($secondaryBase400Color, #FFFFFF, 70%),
        'secondary-408': mix($secondaryBase400Color, #FFFFFF, 80%),
        'secondary-409': mix($secondaryBase400Color, #FFFFFF, 90%),
        'primary': $color,
        'secondary': $secondaryColor,
        'headline': $secondaryColor,
        'text': #222222,
        'header-bar': $headerBarColor,
        'cw-background': $cwBackgroundColor,
        'cw-body-background': $cwBodyBackgroundColor,
        'depend-on-brightness': $dependOnBrightnessColor,
        'red': #976464,
        'green': #349044,
        'wrong': #96060B,
);

// @deprecated: deprecated color palettes will be removed in next minor or major version
$colors1: (
        1: mix($color, #FFFFFF, 5%),
        2: mix($color, #FFFFFF, 20%),
        3: mix($color, #FFFFFF, 40%),
        4: mix($color, #FFFFFF, 60%),
        5: mix($color, #FFFFFF, 80%),
        6: mix($color, #FFFFFF, 90%),
);
$colors2: (
        1: mix($color, #7D7D7D, 70%),
        2: mix($color, #7D7D7D, 40%),
        3: mix($color, #7D7D7D, 15%),
        4: mix($color, #7D7D7D, 3%),
);
$colors3: (
        1: mix($color, #242424, 70%),
        2: mix($color, #242424, 40%),
        3: mix($color, #242424, 15%),
        4: mix($color, #242424, 3%),
);
$colors4: (
        1: mix($color, #101010, 40%),
        2: mix($color, #101010, 15%),
        3: mix($color, #101010, 3%),
);
$shades: (
        1: #ffffff,
        2: #f1f1f1,
        3: #dbdbdb,
        4: #b7b7b7,
        5: #777777,
        6: #474747,
        7: #222222,
        8: #000000,
);

//special color palettes
$red: (
        1: #5a0303,
        2: #96060b,
        3: #ca8181,
        4: #e9cccc,
);
$yellow: (
        1: #9F5F00,
        2: #FF9800,
        3: #FFB74D,
        4: #FFF3E0,
);
$green: (
        1: #074709,
        2: #0e7710,
        3: #85ba87,
        4: #cde3ce,
);

//content_card
$content-card-success-border-color: map_get($green, 1);
$content-card-success-background-color: map_get($green, 4);
$content-card-success-color: #222222;
$content-card-warning-border-color: map_get($yellow, 1);
$content-card-warning-background-color: map_get($yellow, 4);
$content-card-warning-color: #222222;
$content-card-danger-border-color: map_get($red, 1);
$content-card-danger-background-color: map_get($red, 4);
$content-card-danger-color: #222222;

// @deprecated: will be removed in next minor version
//receiver input
$receiver-popup-group-headline-background-color: map_get($colors1, 4);
$receiver-popup-chosen-member-background-color: map_get($colors1, 4);
$receiver-popup-background-color: map_get($colors1, 1);
$receiver-popup-box-shadow-color: map_get($colors1, 1);
$receiver-popup-border-color: map_get($colors1, 2);
$receiver-popup-image-border: map_get($shades, 1);
$receiver-popup-item-hover: map_get($colors1, 3);
$receiver-popup-item-even: map_get($colors1, 2);
$receiver-popup-item-odd: map_get($colors1, 1);
$input-border-color: map_get($colors1, 3);
//setup wizard
$wizard-step-ready-background-color: map_get($colors1, 4);
$wizard-step-ready-color: map_get($colors1, 1);
$wizard-step-notReady-background-color: map_get($colors1, 1);
$wizard-step-notReady-color: map_get($colors1, 4);
