// -- This colors will be replaced by the css api --
$color: #AC0000 !default;
$headerBarColor: #AC0000 !default;
$cwBackgroundColor: mix($color, #FFFFFF, 10%) !default; // 101
$brightness: 100% !default;
$newBrightness: 100% !default;
// -------------------------------------------------

$cwBodyBackgroundColor: mix($color, #FFFFFF, 10%) !default;
$dependOnBrightnessColor: mix($color, #FFFFFF, $brightness);

$colors: (
        '000': mix(#000000, #FFFFFF, 0%),
        '001': mix(#000000, #FFFFFF, 3%),
        '002': mix(#000000, #FFFFFF, 10%),
        '003': mix(#000000, #FFFFFF, 25%),
        '004': mix(#000000, #FFFFFF, 40%),
        '005': mix(#000000, #FFFFFF, 50%),
        '006': mix(#000000, #FFFFFF, 60%),
        '007': mix(#000000, #FFFFFF, 75%),
        '008': mix(#000000, #FFFFFF, 90%),
        '009': mix(#000000, #FFFFFF, 100%),
        '100': mix($color, #FFFFFF, 0%),
        '101': mix($color, #FFFFFF, 10%),
        '102': mix($color, #FFFFFF, 20%),
        '103': mix($color, #FFFFFF, 30%),
        '104': mix($color, #FFFFFF, 40%),
        '105': mix($color, #FFFFFF, 50%),
        '106': mix($color, #FFFFFF, 60%),
        '107': mix($color, #FFFFFF, 70%),
        '108': mix($color, #FFFFFF, 80%),
        '109': mix($color, #FFFFFF, 90%),
        '200': mix($color, #E4E4E4, 0%),
        '201': mix($color, #E4E4E4, 10%),
        '202': mix($color, #E4E4E4, 20%),
        '203': mix($color, #E4E4E4, 30%),
        '204': mix($color, #E4E4E4, 40%),
        '205': mix($color, #E4E4E4, 50%),
        '206': mix($color, #E4E4E4, 60%),
        '207': mix($color, #E4E4E4, 70%),
        '208': mix($color, #E4E4E4, 80%),
        '209': mix($color, #E4E4E4, 90%),
        '300': mix($color, #242424, 0%),
        '301': mix($color, #242424, 10%),
        '302': mix($color, #242424, 20%),
        '303': mix($color, #242424, 30%),
        '304': mix($color, #242424, 40%),
        '305': mix($color, #242424, 50%),
        '306': mix($color, #242424, 60%),
        '307': mix($color, #242424, 70%),
        '308': mix($color, #242424, 80%),
        '309': mix($color, #242424, 90%),
        'primary': $color,
        'headline': $color,
        'text': #222222,
        'header-bar': $headerBarColor,
        'cw-background': $cwBackgroundColor
);

$colors1: (
        1: mix($color, #FFFFFF, 5%),
        2: mix($color, #FFFFFF, 20%),
        3: mix($color, #FFFFFF, 40%),
        4: mix($color, #FFFFFF, 60%),
        5: mix($color, #FFFFFF, 80%),
        6: mix($color, #FFFFFF, 90%),
);
$colors2: (
        1: mix($color, #7D7D7D, 70%),
        2: mix($color, #7D7D7D, 40%),
        3: mix($color, #7D7D7D, 15%),
        4: mix($color, #7D7D7D, 3%),
);
$colors3: (
        1: mix($color, #242424, 70%),
        2: mix($color, #242424, 40%),
        3: mix($color, #242424, 15%),
        4: mix($color, #242424, 3%),
);
$colors4: (
        1: mix($color, #101010, 40%),
        2: mix($color, #101010, 15%),
        3: mix($color, #101010, 3%),
);

$shades: (
        1: #ffffff,
        2: #f1f1f1,
        3: #dbdbdb,
        4: #b7b7b7,
        5: #777777,
        6: #474747,
        7: #222222,
        8: #000000,
);

$red: (
        1: #5a0303,
        2: #96060b,
        3: #ca8181,
        4: #e9cccc,
);

$yellow: (
        1: #9F5F00,
        2: #FF9800,
        3: #FFB74D,
        4: #FFF3E0,
);

$green: (
        1: #074709,
        2: #0e7710,
        3: #85ba87,
        4: #cde3ce,
);

//base config colors
$base-text-color: map_get($shades, 7);

//anchor
$anchor-color: $color;

//accordion
$accordion-border-bottom-color: $dependOnBrightnessColor;
$accordion-hover-background-color: map_get($colors, '100');
$accordion-arrow-color: $dependOnBrightnessColor;
$accordion-item-border-bottom-color: map_get($colors1, 3);
$accordion-open-background-color: map_get($colors, '100');

//badge
$badge-color: map_get($shades, 5);
$badge-background-color: map_get($colors1, 2);

//buttons
$button-color: map_get($shades, 1);
$button-background-color: map_get($colors1, 5);
$button-hover-background-color: $color;

//secondary button
$button2-color: map_get($shades, 7);
$button2-background-color: map_get($colors1, 2);
$button2-hover-background-color: map_get($colors1, 3);

//choosebutton
$choosebutton-color: map_get($shades, 7);
$choosebutton-background-color: map_get($colors1, 2);
$choosebutton-hover-background-color: map_get($colors1, 3);

//contextmenu
$contextmenu-color: map_get($shades, 6);
$contextmenu-background-color: map_get($shades, 1);
$contextmenu-hover-background-color: map_get($shades, 2);
$contextmenu-border-color: rgba(0, 0, 0, .1);
$contextmenu-icon-color: map_get($colors1, 5);
$image-tool-background-color: map_get($shades, 1);
$image-tool-color: $color;

//select
$select-hover-icon-color: map_get($colors1, 4);
$select-icon-color: map_get($colors1, 3);
$select-background-color: map_get($shades, 1);
$select-border-color: map_get($colors1, 3);
$select-hover-border-color: map_get($colors1, 4);

//content_card
$content-card-background-color: map_get($colors, '100');
$content-card-success-border-color: map_get($green, 1);
$content-card-success-background-color: map_get($green, 4);
$content-card-success-color: #222222;
$content-card-warning-border-color: map_get($yellow, 1);
$content-card-warning-background-color: map_get($yellow, 4);
$content-card-warning-color: #222222;
$content-card-danger-border-color: map_get($red, 1);
$content-card-danger-background-color: map_get($red, 4);
$content-card-danger-color: #222222;

//forms
//input / dynamic-input
$input-placeholder-color: map_get($shades, 5);
$input-placeholder-required-color: map_get($red, 2);
$input-border-color: map_get($colors1, 3);
$input-color: map_get($shades, 7);
$input-focus-border-bottom-color: $color;

//switch
$switch-background-color: #976464;
// $switch-disabled-background-color: map_get($shades, 4);
$switch-button-background-color: #ffffff;
// $switch-disabled-button-background-color: map_get($shades, 3);
$switch-checked-background-color: #349044;

//radio / checkbox
$checkbox-background-color: map_get($colors1, 2);
$checkbox-checked-background-color: map_get($colors1, 5);

//headlines
$h1-color: $color;
$h2-color: $color;
$h3-color: $color;
$h4-color: $color;
$h5-color: $color;

//footer
$footer-color: map_get($colors, '005');

//modeswitch
$modeswitchBackgroundColor: map_get($colors1, 1);
$modeswitchBorderColor: map_get($colors1, 2);
$modeswitchIconColor: $color;

//selection
$selection-color: map_get($shades, 1);
$selection-background-color: map_get($colors1, 4);

//wait-cursor
$wait-cursor-color: $color;
$wait-cursor-background-color: map_get($shades, 1);
$wait-cursor-color-no-background: $color;

//tapp
$tapp-hint-color: map_get($colors1, 2);

//person finder
$finder-result-background-color: map_get($colors1, 1);
$finder-result-border-color: map_get($colors1, 2);
$finder-result-hover-background-color: map_get($colors1, 2);

//receiver input
$receiver-popup-group-headline-background-color: map_get($colors1, 4);
$receiver-popup-chosen-member-background-color: map_get($colors1, 4);
$receiver-popup-background-color: map_get($colors1, 1);
$receiver-popup-box-shadow-color: map_get($colors1, 1);
$receiver-popup-border-color: map_get($colors1, 2);
$receiver-popup-image-border: map_get($shades, 1);
$receiver-popup-item-hover: map_get($colors1, 3);
$receiver-popup-item-even: map_get($colors1, 2);
$receiver-popup-item-odd: map_get($colors1, 1);

//setup wizard
$wizard-step-ready-background-color: map_get($colors1, 4);
$wizard-step-ready-color: map_get($colors1, 1);
$wizard-step-notReady-background-color: map_get($colors1, 1);
$wizard-step-notReady-color: map_get($colors1, 4);

//file input
$file-input-color: map_get($colors1, 6);
$file-input-border-color: map_get($colors2, 4);
$file-input-border-hover-color: map_get($colors1, 6);

//tooltip
$tooltip-trigger-underline-color: map_get($shades, 7);
$tooltip-background-color: map_get($shades, 1);

//bubble
$bubble-background-color: map_get($shades, 1);

//slider
$slider-range-background-color: map_get($colors, 'primary');
$slider-track-background-color: map_get($colors, '102');
$slider-dot-background-color: #ffffff;

//calendar
$calendar-selected-background-color: map_get($colors1, 2);
$calendar-highlighted-background-color: map_get($colors1, 4);
$calendar-selected-color: $color;
$calendar-highlighted-color: map_get($shades, 1);

//image accordion
$image-accordion-arrow-color: map_get($shades, 1);
$image-accordion-content-show: map_get($shades, 1);
$image-accordion-hover: map_get($shades, 1);
$image-accordion-image: map_get($shades, 4);

//image accordion in accordion
$image-accordion-wrapped-arrow-color: map_get($colors1, 1);
$image-accordion-wrapped-content-show: map_get($colors1, 1);
$image-accordion-wrapped-hover: map_get($colors1, 1);
$image-accordion-wrapped-image: map_get($colors1, 4);

//chayns editor
$editor-border-color: map_get($colors1, 6);
$editor-border-hover-color: map_get($colors1, 6);

//progress-bar
$progress-bar-track: map_get($colors, '100');
$progress-bar-indicator: map_get($colors, 'primary');
$progress-bar-text: map_get($colors, 'headline');
