// -- This values will be replaced by the css api --
$font-name: 'Roboto' !default;
$font-bold: true;
$font-factor: 1 !default;
$font-backup: 'Tahoma' !default;

$font-size: 15px !default;

$headline-font-name: $font-name !default;
$headline-font-bold: $font-bold;
$headline-font-factor: 1 !default;
$headline-font-backup: $font-backup !default;
$headline-word-spacing: 0 !default;
$headline-letter-spacing: 0 !default;
$headline-line-height-factor: 1 !default;

$icon-style: 0 !default;

$paragraph-styles: () !default;

$base-font-size: $font-size * $font-factor !default;

$base-line-height: 1.65 !default;
$base-font-family: $font-name, $font-backup !default;

$headline-font-family: $headline-font-name, $headline-font-backup !default;

$breakpoints: (
        "mobile" "screen and (max-width: 37.438em)", // less than 600px
        "desktop" "screen and (min-width: 33.5em)", // more than 600px; could:  and (max-width: 63.9375em)
        "desk" "screen and (min-width: 53.125em)", // more than 850px
        "retina" "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)"
) !default;

